nodered/data/flows.json
[
  {
    "id": "tab-smarthome-base",
    "type": "tab",
    "label": "Smart-Home Basis / MQTT",
    "disabled": false,
    "info": "Basis-Flow: MQTT-Verbindung zum Mosquitto auf 192.168.178.40:1883 und read-only Shelly-Status. Keine Jalousie-Aktion wird automatisch ausgef\u00fchrt."
  },
  {
    "id": "mqtt-broker-smarthome",
    "type": "mqtt-broker",
    "name": "Mosquitto 192.168.178.40",
    "broker": "192.168.178.40",
    "port": "1883",
    "clientid": "nodered-smarthome",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "hermes/nodered/status",
    "birthQos": "0",
    "birthPayload": "online",
    "birthMsg": {},
    "closeTopic": "hermes/nodered/status",
    "closeQos": "0",
    "closePayload": "offline",
    "closeMsg": {},
    "willTopic": "hermes/nodered/status",
    "willQos": "0",
    "willPayload": "offline",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "comment-next",
    "type": "comment",
    "z": "tab-smarthome-base",
    "name": "N\u00e4chster Schritt",
    "info": "Als n\u00e4chstes legen wir gezielte, manuelle Jalousie-Aktionen an. Noch keine Automatik aktivieren, bevor jede Jalousie einzeln getestet ist.",
    "x": 170,
    "y": 260,
    "wires": []
  },
  {
    "id": "tab-solar-shading-draft",
    "type": "tab",
    "label": "Solar-Beschattung Jalousien",
    "disabled": false,
    "info": "Solar-Beschattung + Au\u00dfenlicht. NOAA-Sonnenzeiten (Hamburg). Ost=Sonnenauf-Mittag, West=Mittag-Sonnunter. Nacht=alles zu. Au\u00dfenlicht abends an, nachts ab 01:00 aus, morgens bei Bew\u00f6lkung an.",
    "name": ""
  },
  {
    "id": "tls-senec-insecure-local",
    "type": "tls-config",
    "name": "SENEC local self-signed",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  },
  {
    "id": "inject-senec-poll-live",
    "type": "inject",
    "z": "tab-solar-shading-draft",
    "name": "alle 2 min Solarleistung pr\u00fcfen",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "120",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "senec",
    "payload": "{\"ENERGY\":{}}",
    "payloadType": "json",
    "x": 220,
    "y": 120,
    "wires": [
      [
        "http-senec-read-live"
      ]
    ]
  },
  {
    "id": "http-senec-read-live",
    "type": "http request",
    "z": "tab-solar-shading-draft",
    "name": "SENEC Energiedaten lesen",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "body",
    "url": "https://192.168.178.121/lala.cgi",
    "tls": "tls-senec-insecure-local",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 560,
    "y": 120,
    "wires": [
      [
        "fn-shading-live"
      ]
    ]
  },
  {
    "id": "fn-shading-live",
    "type": "function",
    "z": "tab-solar-shading-draft",
    "name": "Solar-Beschattung \u2192 MQTT Rollos",
    "func": "// Solar-Beschattung + Aussenlicht (NOAA Sonnenzeiten, Hamburg).\nconst LOCATION = { lat: 53.55, lon: 10.0 };\nconst AUSSENLICHT = 'shelly1-E098068CC9EB';\n\nfunction sunTimes(date, lat, lon) {\n    const D2R = Math.PI / 180, R2D = 180 / Math.PI;\n    const doy = Math.floor((date - new Date(Date.UTC(date.getFullYear(), 0, 0))) / 86400000);\n    const gamma = doy * D2R * 360 / 365;\n    \n    const eqTime = 229.18 * (0.000075 + 0.001868 * Math.cos(gamma) - 0.032077 * Math.sin(gamma)\n        - 0.014615 * Math.cos(2 * gamma) - 0.040849 * Math.sin(2 * gamma));\n    \n    const decl = 0.006918 - 0.399912 * Math.cos(gamma) + 0.070257 * Math.sin(gamma)\n        - 0.006758 * Math.cos(2 * gamma) + 0.000907 * Math.sin(2 * gamma)\n        - 0.002697 * Math.cos(3 * gamma) + 0.00148 * Math.sin(3 * gamma);\n    \n    const cosH = (Math.cos(90.833 * D2R) - Math.sin(lat * D2R) * Math.sin(decl))\n        / (Math.cos(lat * D2R) * Math.cos(decl));\n    \n    let sunrise, sunset, noon;\n    if (cosH > 1) { sunrise = 0; sunset = 24; noon = 12; }\n    else if (cosH < -1) { sunrise = 12; sunset = 12; noon = 12; }\n    else {\n        const ha = Math.acos(cosH) * R2D;\n        const noonUTC = 12 - lon / 15 + eqTime / 60;\n        sunrise = noonUTC - ha / 15;\n        sunset = noonUTC + ha / 15;\n        noon = noonUTC;\n    }\n    \n    const tzOff = -date.getTimezoneOffset() / 60;\n    return { sunrise: sunrise + tzOff, sunset: sunset + tzOff, noon: noon + tzOff };\n}\n\nconst cfg = {\n    shadeOnW: 2500,\n    shadePos: 50,\n    closePos: 0,\n    openPos: 100,\n    lightOffNightHour: 1,    // ab 01:00 nachts Licht aus\n    lightMorningCloudyW: 500  // morgens Licht an wenn PV < 500W (bewoelkt)\n};\n\nfunction decodeSenecValue(data) {\n    if (data === undefined || data === null) return NaN;\n    if (typeof data === 'number') return data;\n    if (typeof data !== 'string') return NaN;\n    const tmp = data.split('_');\n    if (tmp.length < 2) return Number(data);\n    const type = tmp[0], value = tmp[1];\n    if (type === 'fl') {\n        const buf = Buffer.from(value, 'hex');\n        return Math.round(buf.readFloatBE(0) * 100) / 100;\n    }\n    if (['u8','u1','u3','u6'].includes(type)) return parseInt(value, 16);\n    if (['i1','i3','i8'].includes(type)) return parseInt(value, 16);\n    return Number(value);\n}\n\nconst devices = {\n    east: [\n        {name:'Kueche1',         shelly:'shelly2pmg4-58e6c5324770', closePos: 20, gen:4},  // Gen4, Blumen\n        {name:'Kueche2',         shelly:'shellyswitch25-1099F3', closePos: 20},     // Blumen\n        {name:'GaesteBad',       shelly:'shellyswitch25-109DA4'},\n        {name:'Badezimmer',      shelly:'shellyplus2pm-ecc9ffc14310', gen:2},        // Gen2\n        {name:'Arbeitszimmer1',  shelly:'shellyswitch25-10986E'},                    // Gen1\n        {name:'Arbeitszimmer2',  shelly:'shelly2pmg4-48f6eedad190', gen:4}\n    ],\n    west: [\n        {name:'Wohnzimmer1',   shelly:'shellyswitch25-10A277'},\n        {name:'Wohnzimmer2',   shelly:'shelly2pmg4-58e6c530408c', gen:4},\n        {name:'Schlafzimmer1', shelly:'shellyswitch25-F3FDC4'},\n        {name:'Schlafzimmer2', shelly:'shellyswitch25-10A1DE'},\n        {name:'Schlafzimmer3', shelly:'shellyswitch25-1097AB'},\n        {name:'Till',           shelly:'shellyswitch25-109899'},         // 2.OG, Gen1\n        {name:'Jan',            shelly:'shelly2pmg4-e8f60a60b50c', gen:4}  // 2.OG, Gen4 (neu)\n    ]\n};\n\nconst energy = msg.payload && msg.payload.ENERGY ? msg.payload.ENERGY : {};\nconst pvW = decodeSenecValue(energy.GUI_INVERTER_POWER);\nconst now = new Date();\nconst hour = now.getHours() + now.getMinutes() / 60;\nconst sunny = pvW >= cfg.shadeOnW;\nconst sun = sunTimes(now, LOCATION.lat, LOCATION.lon);\n\nlet phase = 'night';\nif (hour >= sun.sunrise && hour < sun.noon) phase = 'east';\nelse if (hour >= sun.noon && hour < sun.sunset) phase = 'west';\n\nlet commands = [];\nconst ts = now.toISOString();\n\n// === Jalousien ===\n\nif (sunny && phase === 'east') {\n    for (const d of devices.east) {\n        if (d.gen >= 2) {\n            commands.push({topic: d.shelly+'/rpc', payload:{id:1, src:'nodered', method:'Cover.GoToPosition', params:{id:0, pos:cfg.shadePos}}});\n        } else {\n            commands.push({topic:'shellies/'+d.shelly+'/roller/0/command/pos', payload:cfg.shadePos});\n        }\n    }\n    node.warn(ts + ' OST: ' + devices.east.map(d=>d.name).join(',') + ' -> ' + cfg.shadePos + '% (PV=' + pvW.toFixed(0) + 'W)');\n}\n\nif (phase === 'west') {\n    for (const d of devices.east) {\n        if (d.gen >= 2) {\n            commands.push({topic: d.shelly+'/rpc', payload:{id:1, src:'nodered', method:'Cover.GoToPosition', params:{id:0, pos:cfg.openPos}}});\n        } else {\n            commands.push({topic:'shellies/'+d.shelly+'/roller/0/command/pos', payload:cfg.openPos});\n        }\n    }\n    if (sunny) {\n        for (const d of devices.west) {\n            if (d.gen >= 2) {\n                commands.push({topic: d.shelly+'/rpc', payload:{id:1, src:'nodered', method:'Cover.GoToPosition', params:{id:0, pos:cfg.shadePos}}});\n            } else {\n                commands.push({topic:'shellies/'+d.shelly+'/roller/0/command/pos', payload:cfg.shadePos});\n            }\n        }\n        node.warn(ts + ' WEST: ' + devices.west.map(d=>d.name).join(',') + ' -> ' + cfg.shadePos + '% (PV=' + pvW.toFixed(0) + 'W)');\n    }\n}\n\nif (phase === 'night') {\n    const all = [...devices.east, ...devices.west];\n    for (const d of all) {\n        const pos = d.closePos !== undefined ? d.closePos : cfg.closePos;\n        if (d.gen >= 2) {\n            commands.push({topic: d.shelly+'/rpc', payload:{id:1, src:'nodered', method:'Cover.GoToPosition', params:{id:0, pos:pos}}});\n        } else {\n            commands.push({topic:'shellies/'+d.shelly+'/roller/0/command/pos', payload: pos});\n        }\n    }\n}\n\n// === Aussenlicht ===\n\nconst lightTopic = 'shellies/' + AUSSENLICHT + '/relay/0/command';\nconst isDark = (hour >= sun.sunset) || (hour < sun.sunrise);\n\nif (isDark) {\n    // Nacht: Sonnenuntergang -> an, ab lightOffNightHour -> aus\n    const beforeMidnight = hour >= sun.sunset;\n    const afterMidnightEarly = hour >= 0 && hour < cfg.lightOffNightHour;\n    const deepNight = hour >= cfg.lightOffNightHour && hour < sun.sunrise;\n    \n    if (deepNight) {\n        commands.push({topic: lightTopic, payload: 'off'});\n    } else if (beforeMidnight || afterMidnightEarly) {\n        commands.push({topic: lightTopic, payload: 'on'});\n    }\n} else if (phase === 'east' && !sunny && pvW < cfg.lightMorningCloudyW) {\n    // Morgens daemmerig/bewoelkt: Licht an\n    commands.push({topic: lightTopic, payload: 'on'});\n} else if (phase === 'east' && pvW >= cfg.lightMorningCloudyW) {\n    // Sonne reicht: Licht aus\n    commands.push({topic: lightTopic, payload: 'off'});\n}\n\nfunction fmtHour(h) {\n    const hh = Math.floor(h), mm = Math.round((h - hh) * 60);\n    return String(hh).padStart(2,'0') + ':' + String(mm).padStart(2,'0');\n}\n\nnode.status({\n    fill: commands.length > 0 ? 'green' : 'blue',\n    shape: 'dot',\n    text: (commands.length>0?'\\u26a1':'\u00b7') + ' PV=' + pvW.toFixed(0) + 'W ' + phase\n        + ' \\u2600' + fmtHour(sun.sunrise) + ' \\uD83C\\uDF19' + fmtHour(sun.sunset)\n        + (sunny?' sonnig':'') + ' | ' + commands.length + ' cmd'\n});\n\nif (commands.length === 0) return null;\nreturn [commands];\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 120,
    "wires": [
      [
        "mqtt-out-shading"
      ]
    ]
  },
  {
    "id": "mqtt-out-shading",
    "type": "mqtt out",
    "z": "tab-solar-shading-draft",
    "name": "Rollos per MQTT",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-smarthome",
    "x": 1140,
    "y": 120,
    "wires": [
      [
        "debug-shading-live"
      ]
    ]
  },
  {
    "id": "debug-shading-live",
    "type": "debug",
    "z": "tab-solar-shading-draft",
    "name": "Beschattung Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1140,
    "y": 180,
    "wires": []
  },
  {
    "id": "comment-east-devices",
    "type": "comment",
    "z": "tab-solar-shading-draft",
    "name": "Ostseite: K\u00fcche2, G\u00e4steBad",
    "info": "K\u00fcche1: shelly2pmg4-58e6c5324770 (192.168.178.59, Gen4 RPC)\nK\u00fcche2: shellyswitch25-1099F3 (192.168.178.26, Gen1)\nG\u00e4steBad: shellyswitch25-109DA4 (192.168.178.33, Gen1)\n\nBeide K\u00fcche nachts nur 20% (Blumen auf Fensterbank).",
    "x": 340,
    "y": 220,
    "wires": []
  },
  {
    "id": "comment-west-devices",
    "type": "comment",
    "z": "tab-solar-shading-draft",
    "name": "Westseite: Wohnzimmer1, Schlafzimmer1-3",
    "info": "Wohnzimmer1: shellyswitch25-10A277 (192.168.178.30)\nSchlafzimmer1: shellyswitch25-F3FDC4 (192.168.178.37)\nSchlafzimmer2: shellyswitch25-10A1DE (192.168.178.50)\nSchlafzimmer3: shellyswitch25-1097AB (192.168.178.24)",
    "x": 320,
    "y": 280,
    "wires": []
  },
  {
    "id": "comment-shading-info",
    "type": "comment",
    "z": "tab-solar-shading-draft",
    "name": "Au\u00dfenlicht + Zeitplan",
    "info": "Au\u00dfenbeleuchtung: shelly1-E098068CC9EB (192.168.178.35)\n\nJalousien:\n\ud83c\udf05 Ost (Sonnenauf\u2013Mittag): K\u00fcche2 + G\u00e4steBad auf 50% bei PV\u22652500W\n\u2600\ufe0f West (Mittag\u2013Sonnunter): Wohnzimmer1 + Schlafzimmer1-3 auf 50%\n\ud83c\udf19 Nacht: alles schlie\u00dfen\n\nAu\u00dfenlicht:\n\ud83d\udd06 Sonnenuntergang \u2192 an\n\ud83c\udf19 01:00 \u2192 aus\n\ud83c\udf24\ufe0f Morgens bew\u00f6lkt (PV<500W) \u2192 an\n\u2600\ufe0f PV\u2265500W \u2192 aus",
    "x": 340,
    "y": 340,
    "wires": []
  },
  {
    "id": "mqtt-in-shelly-status",
    "type": "mqtt in",
    "z": "tab-smarthome-base",
    "name": "Shelly Status (read-only)",
    "topic": "shellies/+/roller/0/#",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-smarthome",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 180,
    "wires": [
      [
        "debug-shelly-status"
      ]
    ]
  },
  {
    "id": "debug-shelly-status",
    "type": "debug",
    "z": "tab-smarthome-base",
    "name": "Shelly Positions-Tracker",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 180,
    "wires": []
  }
]