nodered/data/flows.json
[
  {
    "id": "tab-smarthome-base",
    "type": "tab",
    "label": "Smart-Home Basis / MQTT",
    "disabled": false,
    "info": "Basis-Flow: MQTT-Verbindung zum Mosquitto auf 192.168.178.40:1883 und read-only Shelly-Status. Keine Jalousie-Aktion wird automatisch ausgef\u00fchrt."
  },
  {
    "id": "mqtt-broker-smarthome",
    "type": "mqtt-broker",
    "name": "Mosquitto 192.168.178.40",
    "broker": "192.168.178.40",
    "port": "1883",
    "clientid": "nodered-smarthome",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "hermes/nodered/status",
    "birthQos": "0",
    "birthPayload": "online",
    "birthMsg": {},
    "closeTopic": "hermes/nodered/status",
    "closeQos": "0",
    "closePayload": "offline",
    "closeMsg": {},
    "willTopic": "hermes/nodered/status",
    "willQos": "0",
    "willPayload": "offline",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "comment-next",
    "type": "comment",
    "z": "tab-smarthome-base",
    "name": "N\u00e4chster Schritt",
    "info": "Als n\u00e4chstes legen wir gezielte, manuelle Jalousie-Aktionen an. Noch keine Automatik aktivieren, bevor jede Jalousie einzeln getestet ist.",
    "x": 170,
    "y": 260,
    "wires": []
  },
  {
    "id": "tab-solar-shading-draft",
    "type": "tab",
    "label": "Solar-Beschattung Jalousien",
    "disabled": false,
    "info": "Solar-Beschattung + Nacht + Au\u00dfenlicht. NOAA-Sonnenzeiten. E/W beschatten, N immer offen. Schlafzimmer: WE kein Shade, Mo-Fr erst ab 7:00. Zustand gespeichert (kein erneutes Senden bei gleicher Position).",
    "name": ""
  },
  {
    "id": "tls-senec-insecure-local",
    "type": "tls-config",
    "name": "SENEC local self-signed",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": false,
    "alpnprotocol": ""
  },
  {
    "id": "inject-senec-poll-live",
    "type": "inject",
    "z": "tab-solar-shading-draft",
    "name": "alle 2 min Solarleistung pr\u00fcfen",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "120",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "senec",
    "payload": "{\"ENERGY\":{}}",
    "payloadType": "json",
    "x": 220,
    "y": 120,
    "wires": [
      [
        "http-senec-read-live"
      ]
    ]
  },
  {
    "id": "http-senec-read-live",
    "type": "http request",
    "z": "tab-solar-shading-draft",
    "name": "SENEC Energiedaten lesen",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "body",
    "url": "https://192.168.178.121/lala.cgi",
    "tls": "tls-senec-insecure-local",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 560,
    "y": 120,
    "wires": [
      [
        "fn-shading-live"
      ]
    ]
  },
  {
    "id": "fn-shading-live",
    "type": "function",
    "z": "tab-solar-shading-draft",
    "name": "Solar-Beschattung \u2192 MQTT Rollos",
    "func": "// Solar-Beschattung + Nacht + Aussenlicht\n// NOAA-Sonnenzeiten (Hamburg 53.55N, 10.0E)\n// \n// REGELN:\n// - Nur E/W-Ger\u00e4te beschatten, N-Ger\u00e4te immer offen (ausser nachts)\n// - Schlafzimmer am Wochenende: keine Beschattung, nur Schedule\n// - Schlafzimmer Mo-Fr: nicht vor 07:00 \u00f6ffnen\n// - Nach einer Aktion wird die Position gespeichert \u2014 kein erneutes Senden\n//   solange sich der Zielwert nicht \u00e4ndert (manuelle Bedienung bleibt erhalten)\n\nconst LOCATION = { lat: 53.55, lon: 10.0 };\nconst AUSSENLICHT = 'shelly1-E098068CC9EB';\n\nfunction sunTimes(date, lat, lon) {\n    const D2R = Math.PI / 180, R2D = 180 / Math.PI;\n    const doy = Math.floor((date - new Date(Date.UTC(date.getFullYear(), 0, 0))) / 86400000);\n    const gamma = doy * D2R * 360 / 365;\n    const eqTime = 229.18 * (0.000075 + 0.001868 * Math.cos(gamma) - 0.032077 * Math.sin(gamma)\n        - 0.014615 * Math.cos(2 * gamma) - 0.040849 * Math.sin(2 * gamma));\n    const decl = 0.006918 - 0.399912 * Math.cos(gamma) + 0.070257 * Math.sin(gamma)\n        - 0.006758 * Math.cos(2 * gamma) + 0.000907 * Math.sin(2 * gamma)\n        - 0.002697 * Math.cos(3 * gamma) + 0.00148 * Math.sin(3 * gamma);\n    const cosH = (Math.cos(90.833 * D2R) - Math.sin(lat * D2R) * Math.sin(decl))\n        / (Math.cos(lat * D2R) * Math.cos(decl));\n    let sunrise, sunset, noon;\n    if (cosH > 1) { sunrise = 0; sunset = 24; noon = 12; }\n    else if (cosH < -1) { sunrise = 12; sunset = 12; noon = 12; }\n    else {\n        const ha = Math.acos(cosH) * R2D;\n        const noonUTC = 12 - lon / 15 + eqTime / 60;\n        sunrise = noonUTC - ha / 15;\n        sunset = noonUTC + ha / 15;\n        noon = noonUTC;\n    }\n    const tzOff = -date.getTimezoneOffset() / 60;\n    return { sunrise: sunrise + tzOff, sunset: sunset + tzOff, noon: noon + tzOff };\n}\n\nfunction decodeSenecValue(data) {\n    if (data === undefined || data === null) return NaN;\n    if (typeof data === 'number') return data;\n    if (typeof data !== 'string') return NaN;\n    const tmp = data.split('_');\n    if (tmp.length < 2) return Number(data);\n    const type = tmp[0], value = tmp[1];\n    if (type === 'fl') {\n        const buf = Buffer.from(value, 'hex');\n        return Math.round(buf.readFloatBE(0) * 100) / 100;\n    }\n    if (['u8','u1','u3','u6'].includes(type)) return parseInt(value, 16);\n    if (['i1','i3','i8'].includes(type)) return parseInt(value, 16);\n    return Number(value);\n}\n\n// --- Ger\u00e4te mit Richtung (E=Ost, W=West, N=Nord/keine Beschattung) ---\n// MQTT: Gen1 -> shellies/<id>/roller/0/command/pos mit Zahl\n//       Gen2/4 -> <id>/rpc mit JSON RPC\n\nconst devices = {\n    east: [\n        {name:'Kueche2',         shelly:'shellyswitch25-1099F3', closePos: 20},\n        {name:'GaesteBad',       shelly:'shellyswitch25-109DA4'},\n        {name:'Badezimmer',      shelly:'shellyplus2pm-ecc9ffc14310', gen:2},\n        {name:'Arbeitszimmer2',  shelly:'shelly2pmg4-48f6eedad190', gen:4}\n    ],\n    west: [\n        {name:'Wohnzimmer1',     shelly:'shellyswitch25-10A277'},\n        {name:'Wohnzimmer2',     shelly:'shelly2pmg4-58e6c530408c', gen:4},\n        {name:'Schlafzimmer1',   shelly:'shellyswitch25-F3FDC4', bedroom: true},\n        {name:'Schlafzimmer2',   shelly:'shellyswitch25-10A1DE', bedroom: true}\n    ],\n    north: [\n        {name:'Kueche1',         shelly:'shelly2pmg4-58e6c5324770', closePos: 20, gen:4},\n        {name:'Schlafzimmer3',   shelly:'shellyswitch25-1097AB', bedroom: true},\n        {name:'Arbeitszimmer1',  shelly:'shellyswitch25-10986E'},\n        {name:'Till',            shelly:'shellyswitch25-109899', bedroom: true},\n        {name:'Jan',             shelly:'shelly2pmg4-e8f60a60b50c', gen:4, bedroom: true}\n    ]\n};\n\nconst allDevices = [...devices.east, ...devices.west, ...devices.north];\nconst bedrooms = allDevices.filter(d => d.bedroom);\n\nconst cfg = {\n    shadeOnW: 2500,       // Beschattung einschalten\n    shadeOffW: 1200,     // Beschattung ausschalten (Hysterese)\n    shadePos: 50,\n    closePos: 0,\n    openPos: 100,\n    bedroomEarliestOpen: 7,     // Schlafzimmer Mo-Fr nicht vor 7:00\n    lightOffNightHour: 1,\n    lightMorningCloudyW: 500\n};\n\n// --- Energie + Zeit ---\nconst energy = msg.payload && msg.payload.ENERGY ? msg.payload.ENERGY : {};\nconst pvW = decodeSenecValue(energy.GUI_INVERTER_POWER);\nconst now = new Date();\nconst hour = now.getHours() + now.getMinutes() / 60;\nconst dayOfWeek = now.getDay();  // 0=So, 6=Sa\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\nconst sunny = pvW >= cfg.shadeOnW;\nconst cloudy = pvW < cfg.shadeOffW;  // Hysterese: erst unter 1200W \u00f6ffnen\nconst sun = sunTimes(now, LOCATION.lat, LOCATION.lon);\n\nlet phase = 'night';\nif (hour >= sun.sunrise && hour < sun.noon) phase = 'east';\nelse if (hour >= sun.noon && hour < sun.sunset) phase = 'west';\n\n// --- Zustand speichern (flow context) um Wiederholungen zu vermeiden ---\nlet lastPos = flow.get('shadingLastPos') || {};\nlet newCommands = [];\nconst ts = now.toISOString();\n\nfunction pushCmd(d, pos) {\n    const key = d.shelly;\n    if (lastPos[key] === pos) return; // bereits gesendet, keine \u00c4nderung\n    lastPos[key] = pos;\n    if (d.gen >= 2) {\n        newCommands.push({topic: d.shelly + '/rpc',\n            payload: {id:1, src:'nodered', method:'Cover.GoToPosition', params:{id:0, pos:pos}}});\n    } else {\n        newCommands.push({topic: 'shellies/' + d.shelly + '/roller/0/command/pos', payload: pos});\n    }\n}\n\n// === Jalousien-Logik ===\n\nfunction shadeGroup(group, pos, reason) {\n    for (const d of group) {\n        // Schlafzimmer am Wochenende nicht beschatten\n        if (d.bedroom && isWeekend) continue;\n        // Schlafzimmer Mo-Fr nicht vor 07:00\n        if (d.bedroom && !isWeekend && hour < cfg.bedroomEarliestOpen) continue;\n        pushCmd(d, pos);\n    }\n    if (reason) node.warn(ts + ' ' + reason);\n}\n\nif (phase === 'east') {\n    if (sunny) {\n        shadeGroup(devices.east, cfg.shadePos,\n            'OST-SCHATTEN: ' + devices.east.map(d=>d.name).join(',') + ' -> ' + cfg.shadePos + '% (PV=' + pvW.toFixed(0) + 'W)');\n    } else if (cloudy) {\n        // Hysterese: PV unter 1200W -> Beschattung l\u00f6sen\n        for (const d of devices.east) pushCmd(d, cfg.openPos);\n    }\n    // West + North tags\u00fcber \u00f6ffnen (Schlafzimmer-Regeln beachten)\n    const openWest = devices.west.filter(d => {\n        if (d.bedroom && isWeekend) return false;\n        if (d.bedroom && !isWeekend && hour < cfg.bedroomEarliestOpen) return false;\n        return true;\n    });\n    const openNorth = devices.north.filter(d => {\n        if (d.bedroom && isWeekend) return false;\n        if (d.bedroom && !isWeekend && hour < cfg.bedroomEarliestOpen) return false;\n        return true;\n    });\n    for (const d of [...openWest, ...openNorth]) pushCmd(d, cfg.openPos);\n} else if (phase === 'west') {\n    // Ost \u00f6ffnen\n    for (const d of devices.east) pushCmd(d, cfg.openPos);\n    if (sunny) {\n        shadeGroup(devices.west, cfg.shadePos,\n            'WEST-SCHATTEN: ' + devices.west.map(d=>d.name).join(',') + ' -> ' + cfg.shadePos + '% (PV=' + pvW.toFixed(0) + 'W)');\n    } else if (cloudy) {\n        for (const d of devices.west) {\n            if (d.bedroom && isWeekend) continue;\n            if (d.bedroom && !isWeekend && hour < cfg.bedroomEarliestOpen) continue;\n            pushCmd(d, cfg.openPos);\n        }\n    }\n    // North offen halten (Schlafzimmer-Regeln beachten)\n    for (const d of devices.north) {\n        if (d.bedroom && isWeekend) continue;\n        if (d.bedroom && !isWeekend && hour < cfg.bedroomEarliestOpen) continue;\n        pushCmd(d, cfg.openPos);\n    }\n} else {\n    // Nacht: alles schlie\u00dfen\n    for (const d of allDevices) {\n        const pos = d.closePos !== undefined ? d.closePos : cfg.closePos;\n        pushCmd(d, pos);\n    }\n}\n\n// === Aussenlicht ===\nconst lightTopic = 'shellies/' + AUSSENLICHT + '/relay/0/command';\nconst isDark = (hour >= sun.sunset) || (hour < sun.sunrise);\n\nif (isDark) {\n    const deepNight = hour >= cfg.lightOffNightHour && hour < sun.sunrise;\n    if (deepNight) {\n        newCommands.push({topic: lightTopic, payload: 'off'});\n    } else {\n        newCommands.push({topic: lightTopic, payload: 'on'});\n    }\n} else if (phase === 'east' && !sunny && pvW < cfg.lightMorningCloudyW) {\n    newCommands.push({topic: lightTopic, payload: 'on'});\n} else if (phase === 'east' && pvW >= cfg.lightMorningCloudyW) {\n    newCommands.push({topic: lightTopic, payload: 'off'});\n}\n\n// Speichern\nflow.set('shadingLastPos', lastPos);\n\nfunction fmtHour(h) {\n    const hh = Math.floor(h), mm = Math.round((h - hh) * 60);\n    return String(hh).padStart(2,'0') + ':' + String(mm).padStart(2,'0');\n}\n\nnode.status({\n    fill: newCommands.length > 0 ? 'green' : 'blue',\n    shape: 'dot',\n    text: (newCommands.length>0?'\\u26a1':'\u00b7') + ' PV=' + pvW.toFixed(0) + 'W ' + phase\n        + (isWeekend?' WE':'') + (sunny?' sonnig':cloudy?' wolkig':'')\n        + ' \\u2600' + fmtHour(sun.sunrise) + ' \\uD83C\\uDF19' + fmtHour(sun.sunset)\n        + ' | ' + newCommands.length + ' cmd'\n});\n\nif (newCommands.length === 0) return null;\nreturn [newCommands];\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 120,
    "wires": [
      [
        "mqtt-out-shading"
      ]
    ]
  },
  {
    "id": "mqtt-out-shading",
    "type": "mqtt out",
    "z": "tab-solar-shading-draft",
    "name": "Rollos per MQTT",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-smarthome",
    "x": 1140,
    "y": 120,
    "wires": [
      [
        "debug-shading-live"
      ]
    ]
  },
  {
    "id": "debug-shading-live",
    "type": "debug",
    "z": "tab-solar-shading-draft",
    "name": "Beschattung Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1140,
    "y": 180,
    "wires": []
  },
  {
    "id": "comment-east-devices",
    "type": "comment",
    "z": "tab-solar-shading-draft",
    "name": "Ost (E): K\u00fcche2, G\u00e4steBad, Badezimmer, Arbeitszimmer2",
    "info": "Nur diese werden morgens beschattet.\nK\u00fcche2: shellyswitch25-1099F3 (.26)\nG\u00e4steBad: shellyswitch25-109DA4 (.33)\nBadezimmer: shellyplus2pm-ecc9ffc14310 (.177)\nArbeitszimmer2: shelly2pmg4-48f6eedad190 (.56)",
    "x": 340,
    "y": 220,
    "wires": []
  },
  {
    "id": "comment-west-devices",
    "type": "comment",
    "z": "tab-solar-shading-draft",
    "name": "West (W): Wohnzimmer1-2, Schlafzimmer1-2",
    "info": "Nachmittags beschattet.\nWohnzimmer1: shellyswitch25-10A277 (.30)\nWohnzimmer2: shelly2pmg4-58e6c530408c (.52)\nSchlafzimmer1: shellyswitch25-F3FDC4 (.37)\nSchlafzimmer2: shellyswitch25-10A1DE (.50)",
    "x": 320,
    "y": 280,
    "wires": []
  },
  {
    "id": "comment-shading-info",
    "type": "comment",
    "z": "tab-solar-shading-draft",
    "name": "Nord (N) + Regeln",
    "info": "Nord: K\u00fcche1, Schlafzimmer3, Arbeitszimmer1, Till, Jan \u2014 keine Beschattung, nur Nacht schlie\u00dfen.\n\nRegeln:\n- Am WE keine Schlafzimmer-Beschattung\n- Mo-Fr Schlafzimmer nicht vor 7:00\n- Positionen gespeichert: kein erneutes Senden = manuelle Bedienung bleibt\n\nAu\u00dfenlicht: shelly1-E098068CC9EB (.35)",
    "x": 340,
    "y": 340,
    "wires": []
  },
  {
    "id": "mqtt-in-shelly-status",
    "type": "mqtt in",
    "z": "tab-smarthome-base",
    "name": "Shelly Status (read-only)",
    "topic": "shellies/+/roller/0/#",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "mqtt-broker-smarthome",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 180,
    "y": 180,
    "wires": [
      [
        "debug-shelly-status"
      ]
    ]
  },
  {
    "id": "debug-shelly-status",
    "type": "debug",
    "z": "tab-smarthome-base",
    "name": "Shelly Positions-Tracker",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 430,
    "y": 180,
    "wires": []
  },
  {
    "id": "tab-rollo-remote",
    "type": "tab",
    "label": "Rollo-Steuerung (Siri/WA/TG)",
    "disabled": false,
    "info": "HTTP-Endpoint fuer Rollo-Steuerung. Genutzt von Siri-Kurzbefehlen, Hermes-Skills, Alexa."
  },
  {
    "id": "http-rollo-in",
    "type": "http in",
    "z": "tab-rollo-remote",
    "name": "POST /rollo",
    "url": "/rollo",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 120,
    "wires": [
      [
        "fn-rollo-parse"
      ]
    ]
  },
  {
    "id": "http-rollo-in-get",
    "type": "http in",
    "z": "tab-rollo-remote",
    "name": "GET /rollo",
    "url": "/rollo",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 180,
    "wires": [
      [
        "fn-rollo-parse"
      ]
    ]
  },
  {
    "id": "fn-rollo-parse",
    "type": "function",
    "z": "tab-rollo-remote",
    "name": "Raum+Action -> MQTT",
    "func": "// Rollo-Steuerung: nimmt room + action/pos, sendet MQTT-Kommandos.\n// GET: /rollo?room=kueche1&pos=50\n// POST: {\"room\": \"kueche1\", \"pos\": 50} oder {\"room\":\"wohnzimmer\",\"action\":\"zu\"}\n\nconst devices = {\n    'kueche1':          {shelly:'shelly2pmg4-58e6c5324770', gen:4, raum:'K\u00fcche'},\n    'kueche2':          {shelly:'shellyswitch25-1099F3', raum:'K\u00fcche'},\n    'gaestebad':        {shelly:'shellyswitch25-109DA4', raum:'G\u00e4steBad'},\n    'gaestewc':         {shelly:'shellyswitch25-109DA4', raum:'G\u00e4steBad'},\n    'wohnzimmer1':      {shelly:'shellyswitch25-10A277', raum:'Wohnzimmer'},\n    'wohnzimmer2':      {shelly:'shelly2pmg4-58e6c530408c', gen:4, raum:'Wohnzimmer'},\n    'schlafzimmer1':    {shelly:'shellyswitch25-F3FDC4', raum:'Schlafzimmer'},\n    'schlafzimmer2':    {shelly:'shellyswitch25-10A1DE', raum:'Schlafzimmer'},\n    'schlafzimmer3':    {shelly:'shellyswitch25-1097AB', raum:'Schlafzimmer'},\n    'arbeitszimmer1':   {shelly:'shellyswitch25-10986E', raum:'Arbeitszimmer'},\n    'arbeitszimmer2':   {shelly:'shelly2pmg4-48f6eedad190', gen:4, raum:'Arbeitszimmer'},\n    'badezimmer':       {shelly:'shellyplus2pm-ecc9ffc14310', gen:2, raum:'Badezimmer'},\n    'till':             {shelly:'shellyswitch25-109899', raum:'Till'},\n    'jan':              {shelly:'shelly2pmg4-e8f60a60b50c', gen:4, raum:'Jan'}\n};\n\n// Raum-Aliase: \"wohnzimmer\" -> wohnzimmer1+wohnzimmer2\nconst raumAliases = {\n    'kueche':           ['kueche1','kueche2'],\n    'wohnzimmer':       ['wohnzimmer1','wohnzimmer2'],\n    'schlafzimmer':     ['schlafzimmer1','schlafzimmer2','schlafzimmer3'],\n    'arbeitszimmer':    ['arbeitszimmer1','arbeitszimmer2'],\n    'erdgeschoss':      ['kueche1','kueche2','gaestebad','wohnzimmer1','wohnzimmer2'],\n    'eg':               ['kueche1','kueche2','gaestebad','wohnzimmer1','wohnzimmer2'],\n    '1og':              ['schlafzimmer1','schlafzimmer2','schlafzimmer3','arbeitszimmer1','arbeitszimmer2','badezimmer'],\n    'erstesog':         ['schlafzimmer1','schlafzimmer2','schlafzimmer3','arbeitszimmer1','arbeitszimmer2','badezimmer'],\n    'obergeschoss':     ['schlafzimmer1','schlafzimmer2','schlafzimmer3','arbeitszimmer1','arbeitszimmer2','badezimmer'],\n    '2og':              ['till','jan'],\n    'dachgeschoss':     ['till','jan'],\n    'alle':             ['kueche1','kueche2','gaestebad','wohnzimmer1','wohnzimmer2',\n                          'schlafzimmer1','schlafzimmer2','schlafzimmer3',\n                          'arbeitszimmer1','arbeitszimmer2','badezimmer','till','jan']\n};\n\nconst q = msg.req && msg.req.query ? msg.req.query : {};\nconst body = typeof msg.payload === 'object' ? msg.payload : {};\nconst room = (body.room || q.room || '').toLowerCase().replace(/[\u00e4\u00f6\u00fc\u00df]/g, m => ({'\u00e4':'ae','\u00f6':'oe','\u00fc':'ue','\u00df':'ss'})[m]);\nlet action = body.action || q.action || '';\nlet pos = body.pos || q.pos || '';\n\n// Action zu Position \u00fcbersetzen\nif (action) {\n    const a = action.toLowerCase();\n    if (['auf','hoch','rauf','open','\u00f6ffnen','oeffnen'].includes(a)) pos = 100;\n    else if (['zu','runter','ab','close','schlie\u00dfen','schliessen'].includes(a)) pos = 0;\n    else if (['stop','stopp','halt'].includes(a)) pos = 'stop';\n    else { msg.payload = {error:'Unbekannte Aktion: '+action}; return [null, msg]; }\n}\n\nif (pos === '' || pos === undefined) {\n    msg.payload = {error:'Keine Position/Aktion angegeben. Nutze ?room=...&pos=50 oder &action=zu'};\n    return [null, msg];\n}\n\n// R\u00e4ume aufl\u00f6sen\nlet targets = raumAliases[room] || [room];\nlet commands = [];\nlet notFound = [];\n\nfor (const r of targets) {\n    const dev = devices[r];\n    if (!dev) { notFound.push(r); continue; }\n    if (pos === 'stop') {\n        commands.push({\n            topic: dev.gen >= 2 ? dev.shelly + '/rpc' : 'shellies/' + dev.shelly + '/roller/0/command',\n            payload: dev.gen >= 2 ? {id:1, src:'nodered', method:'Cover.Stop', params:{id:0}} : 'stop'\n        });\n    } else {\n        const p = parseInt(pos);\n        if (isNaN(p) || p < 0 || p > 100) {\n            msg.payload = {error:'Position muss 0-100 sein: '+pos};\n            return [null, msg];\n        }\n        commands.push({\n            topic: dev.gen >= 2 ? dev.shelly + '/rpc' : 'shellies/' + dev.shelly + '/roller/0/command/pos',\n            payload: dev.gen >= 2 ? {id:1, src:'nodered', method:'Cover.GoToPosition', params:{id:0, pos:p}} : p\n        });\n    }\n}\n\nif (notFound.length && commands.length === 0) {\n    msg.payload = {error:'Raum nicht gefunden: ' + notFound.join(', ')};\n    return [null, msg];\n}\n\nmsg.payload = {\n    ok: true,\n    rooms: targets.filter(r => devices[r]).map(r => devices[r].raum || r),\n    notFound: notFound,\n    commands: commands.length,\n    pos: pos\n};\n// Ausgabe 1: MQTT-Kommandos, Ausgabe 2: HTTP-Antwort\nreturn [commands.length > 0 ? commands : null, msg];\n",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 150,
    "wires": [
      [
        "mqtt-out-rollo"
      ],
      [
        "http-rollo-resp"
      ]
    ]
  },
  {
    "id": "mqtt-out-rollo",
    "type": "mqtt out",
    "z": "tab-rollo-remote",
    "name": "MQTT Kommando",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker-smarthome",
    "x": 580,
    "y": 140,
    "wires": []
  },
  {
    "id": "http-rollo-resp",
    "type": "http response",
    "z": "tab-rollo-remote",
    "name": "Antwort",
    "statusCode": "",
    "headers": {
      "content-type": "application/json"
    },
    "x": 580,
    "y": 200,
    "wires": []
  },
  {
    "id": "http-rollo-alias-0",
    "type": "http in",
    "z": "tab-rollo-remote",
    "name": "GET /rollos",
    "url": "/rollos",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 240,
    "wires": [
      [
        "fn-rollo-parse"
      ]
    ]
  },
  {
    "id": "http-rollo-alias-1",
    "type": "http in",
    "z": "tab-rollo-remote",
    "name": "GET /jalousie",
    "url": "/jalousie",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 300,
    "wires": [
      [
        "fn-rollo-parse"
      ]
    ]
  },
  {
    "id": "http-rollo-alias-2",
    "type": "http in",
    "z": "tab-rollo-remote",
    "name": "GET /jalousien",
    "url": "/jalousien",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 360,
    "wires": [
      [
        "fn-rollo-parse"
      ]
    ]
  }
]