imports/flows_07-04-2024.DISABLED-SAFE-MIGRATED.json
[
  {
    "id": "ae626b44288d11ba",
    "type": "tab",
    "label": "ALT Sonne",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet.",
    "env": []
  },
  {
    "id": "d2d6601a.7125f8",
    "type": "tab",
    "label": "ALT Solaranlage ",
    "disabled": true,
    "info": "Regelmäßiges Auslesen von Daten der Solaranlage \n\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "de4d1b6a.332a58",
    "type": "tab",
    "label": "ALT Aussenbeleuchtung Eingangstür",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "82ccc5f3.1036e",
    "type": "tab",
    "label": "ALT Küche",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "90da45d1.4bcca",
    "type": "tab",
    "label": "ALT Wohnzimmer",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "9c2232ef.d006f8",
    "type": "tab",
    "label": "ALT Arbeitszimmer",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "625022e7.583d14",
    "type": "tab",
    "label": "ALT Badezimmer Gäste",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "e2a52957.38abe8",
    "type": "tab",
    "label": "ALT Badezimmer 1.OG",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "be27de26.cf9ac8",
    "type": "tab",
    "label": "ALT Schlafzimmer",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "afab19e2.ac2b08",
    "type": "tab",
    "label": "ALT Jans Zimmer",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "7b205da4.9b358c",
    "type": "tab",
    "label": "ALT Tills Zimmer",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "3ad7f6dda0ad7b96",
    "type": "tab",
    "label": "ALT Jans Zimmer",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "dd45f535.32c558",
    "type": "tab",
    "label": "ALT Fritz!Box who is present",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "cf8cfe5f.0edb9",
    "type": "tab",
    "label": "ALT Shellys",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "373575c7.38e3da",
    "type": "tab",
    "label": "ALT Backup MyPi",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "b4eb0c1f.ba1b08",
    "type": "tab",
    "label": "ALT Garage",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "8402a360.a168c",
    "type": "tab",
    "label": "ALT Speisekammer",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "a139dd9c.4949a8",
    "type": "tab",
    "label": "ALT Keller Hobbyraum",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "ed60f545.3915d8",
    "type": "tab",
    "label": "ALT Batteriestatus",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "3ce8dafe.b73d36",
    "type": "tab",
    "label": "ALT Test mqtt",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "f396be30.384bb8",
    "type": "tab",
    "label": "ALT Dachboden",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "36bcc038.c7d64",
    "type": "tab",
    "label": "ALT Heizungsraum",
    "disabled": true,
    "info": "\n\n[Hermes Import-Hinweis] Dieser Tab wurde beim sicheren Migrationsimport deaktiviert, damit keine Jalousie/Beleuchtung/Tesla-Automation unbeabsichtigt startet."
  },
  {
    "id": "3a49b7e8.7e1e",
    "type": "mqtt-broker",
    "name": "Mosquitto 192.168.178.40 (alter Flow)",
    "broker": "192.168.178.40",
    "port": "1883",
    "tls": "57c190c2.cbb7",
    "clientid": "node-red-old-flow-disabled",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "f0283c94.f77e4",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0432ff",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0432ff",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#0432ff",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#000000",
          "edited": false
        },
        "group-textColor": {
          "value": "#5070ff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0432ff",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "9f49280a.580918",
    "type": "ui_tab",
    "name": "Zuhause",
    "icon": "dashboard",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "27a1325f.4f4c3e",
    "type": "ui_group",
    "name": "Arbeitszimmer",
    "tab": "9f49280a.580918",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "b45416e0.1bf54",
    "type": "ui_group",
    "name": "Küche",
    "tab": "9f49280a.580918",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "bafb8bcf.a78da8",
    "type": "ui_group",
    "name": "Wohnzimmer",
    "tab": "9f49280a.580918",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "992eb7fb.cd151",
    "type": "ui_group",
    "name": "Badezimmer 1.OG",
    "tab": "9f49280a.580918",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "e57ae48b.a972f",
    "type": "ui_group",
    "name": "Badezimmer Gäste",
    "tab": "9f49280a.580918",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "4d82b7b6.cead7",
    "type": "ui_group",
    "name": "Jans Zimmer",
    "tab": "9f49280a.580918",
    "order": 6,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "a242a2b2.dd42a",
    "type": "ui_group",
    "name": "Tills Zimmer",
    "tab": "9f49280a.580918",
    "order": 7,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "3a600476.d87c94",
    "type": "ui_group",
    "name": "Schlafzimmer",
    "tab": "9f49280a.580918",
    "order": 8,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "d03daae6.7e54f8",
    "type": "ui_tab",
    "name": "Anwesend",
    "icon": "dashboard",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "bf5d8422.827f38",
    "type": "ui_group",
    "name": "Wer ist Zuhause",
    "tab": "d03daae6.7e54f8",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "81894bc9.40a7d8",
    "type": "ui_group",
    "name": "Shelly's",
    "tab": "9f49280a.580918",
    "disp": true,
    "width": "27",
    "collapse": true
  },
  {
    "id": "b28adfee.70c46",
    "type": "ui_tab",
    "name": "Shelly's",
    "icon": "dashboard",
    "order": 5,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "c31dffb.9104f",
    "type": "ui_group",
    "name": "Temperaturen",
    "tab": "b28adfee.70c46",
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "6162ebd6.e8d284",
    "type": "ui_group",
    "name": "Devices",
    "tab": "b28adfee.70c46",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "57c190c2.cbb7",
    "type": "tls-config",
    "name": "local-tls",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "verifyservercert": false
  },
  {
    "id": "da4fb912.ba8c",
    "type": "ui_group",
    "name": "Aussenbeleuchtung Eingangstür",
    "tab": "9f49280a.580918",
    "order": 10,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "e0930b6f.ef776",
    "type": "ui_group",
    "name": "Keller Speisekammer",
    "tab": "9f49280a.580918",
    "order": 11,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "8061dfc2.f1047",
    "type": "ui_group",
    "name": "Keller Hobbyraum",
    "tab": "9f49280a.580918",
    "order": 12,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ea559203.bd396",
    "type": "ui_group",
    "name": "Garage",
    "tab": "9f49280a.580918",
    "order": 13,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "c75f8bf9.e88e8",
    "type": "ui_tab",
    "name": "Batteriestatus",
    "icon": "dashboard",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "df5a149e.d04cc8",
    "type": "ui_group",
    "name": "EPS-01",
    "tab": "c75f8bf9.e88e8",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "1efc2ffd.73b798",
    "type": "ui_group",
    "name": "Dachboden",
    "tab": "9f49280a.580918",
    "order": 14,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ed4947f4.045568",
    "type": "ui_group",
    "name": "Heizungsraum",
    "tab": "9f49280a.580918",
    "order": 15,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "9f7d2c8a.64cf98",
    "type": "fritzbox-config",
    "name": "",
    "host": "fritz.box",
    "port": "49443",
    "ssl": true
  },
  {
    "id": "fd2b29a6.caee18",
    "type": "ui_group",
    "name": "Draußen",
    "tab": "9f49280a.580918",
    "order": 16,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "7bc2c12b.0b66",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "WEATHER",
    "name": "Weather",
    "usetls": false,
    "tls": ""
  },
  {
    "id": "e7b24311.c5f6f",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "temperature",
    "name": ""
  },
  {
    "id": "ce07b7ac.65b68",
    "type": "influxdb",
    "hostname": "smarthome",
    "port": "8086",
    "protocol": "http",
    "database": "SENSORS",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "57c190c2.cbb7"
  },
  {
    "id": "c798e8e2.a21c6",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "temperature",
    "name": ""
  },
  {
    "id": "1bd25122.3913af",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "humidite",
    "name": ""
  },
  {
    "id": "2ac4fa1e.ad5d2e",
    "type": "mqtt-broker",
    "broker": "192.168.178.40",
    "port": "1883",
    "clientid": "Pi2_NR-Live",
    "usetls": false,
    "verifyservercert": true,
    "compatmode": false,
    "keepalive": "15",
    "cleansession": true,
    "birthTopic": "DEVICES/PI2NR-LIVE",
    "birthQos": "1",
    "birthRetain": "false",
    "birthPayload": "Online",
    "willTopic": "DEVICES/PI2NR-LIVE",
    "willQos": "1",
    "willRetain": "false",
    "willPayload": "Offline"
  },
  {
    "id": "37e71c70.559004",
    "type": "influxdb",
    "hostname": "SmartHome",
    "port": "8086",
    "protocol": "http",
    "database": "SENSORS",
    "name": "InfluxDB@SmartHome",
    "usetls": false,
    "tls": ""
  },
  {
    "id": "bad4a5be.f7833",
    "type": "ui_group",
    "name": "Test2",
    "tab": "",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "101bd986.8eac7e",
    "type": "modbus-client",
    "name": "SMA-Gt",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "tcpHost": "192.168.178.121",
    "tcpPort": "502",
    "tcpType": "TPC-RTU-BUFFERED",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "",
    "unit_id": 3,
    "commandDelay": 200,
    "clientTimeout": 1000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true
  },
  {
    "id": "7b813a32.05963c",
    "type": "position-config",
    "name": "",
    "isValide": "true",
    "longitude": "0",
    "latitude": "0",
    "angleType": "deg",
    "timeZoneOffset": "99",
    "timeZoneDST": "0",
    "stateTimeFormat": "3",
    "stateDateFormat": "12",
    "contextStore": ""
  },
  {
    "id": "3ee43a18.3e87e6",
    "type": "server",
    "name": "Home Assistant",
    "version": 2,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": 30
  },
  {
    "id": "ef714325c8d7b5bc",
    "type": "tesla-config",
    "email": "guido_berning@yahoo.de"
  },
  {
    "id": "a0f70a7a9ba44c37",
    "type": "ui_group",
    "name": "Tesla Ladestrom",
    "tab": "9f49280a.580918",
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "b163acbc7a34203d",
    "type": "bigtimer",
    "z": "ae626b44288d11ba",
    "outtopic": "",
    "outpayload1": "100",
    "outpayload2": "35",
    "name": "Sonne",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "5003",
    "endtime": "5001",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": "0",
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 270,
    "y": 220,
    "wires": [
      [
        "7cf7a891d18b32f0"
      ],
      [],
      []
    ]
  },
  {
    "id": "da7b8044361a7162",
    "type": "bigtimer",
    "z": "ae626b44288d11ba",
    "outtopic": "",
    "outpayload1": "open",
    "outpayload2": "close",
    "name": "Summer by time",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "420",
    "endtime": "1320",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": 0,
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": "1000",
    "sun": false,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": false,
    "jan": false,
    "feb": false,
    "mar": false,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": false,
    "oct": false,
    "nov": false,
    "dec": false,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 300,
    "y": 320,
    "wires": [
      [
        "d5c7c3159f10ad7d"
      ],
      [],
      []
    ]
  },
  {
    "id": "9f9b3e2811a6abfc",
    "type": "bigtimer",
    "z": "ae626b44288d11ba",
    "outtopic": "",
    "outpayload1": "open",
    "outpayload2": "close",
    "name": "Summer by time  SaSo",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "540",
    "endtime": "1320",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": 0,
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": "1000",
    "sun": true,
    "mon": false,
    "tue": false,
    "wed": false,
    "thu": true,
    "fri": false,
    "sat": true,
    "jan": false,
    "feb": false,
    "mar": false,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": false,
    "oct": false,
    "nov": false,
    "dec": false,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 320,
    "y": 420,
    "wires": [
      [
        "79f821210e0e01cb"
      ],
      [],
      []
    ]
  },
  {
    "id": "9188d4b09bcb5298",
    "type": "bigtimer",
    "z": "ae626b44288d11ba",
    "outtopic": "",
    "outpayload1": "open",
    "outpayload2": "close",
    "name": "Winter by Sun",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "5003",
    "endtime": "5001",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": "-30",
    "endoff": "-30",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": "1000",
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": false,
    "may": false,
    "jun": false,
    "jul": false,
    "aug": false,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 300,
    "y": 520,
    "wires": [
      [
        "39e3248f2c471a5e"
      ],
      [],
      []
    ]
  },
  {
    "id": "7cf7a891d18b32f0",
    "type": "link out",
    "z": "ae626b44288d11ba",
    "name": "Sonne",
    "mode": "link",
    "links": [
      "775529c489c0a960"
    ],
    "x": 555,
    "y": 220,
    "wires": []
  },
  {
    "id": "d5c7c3159f10ad7d",
    "type": "link out",
    "z": "ae626b44288d11ba",
    "name": "Summer by time",
    "mode": "link",
    "links": [
      "1938358640d0a6d2",
      "4aa809b95ed1c17a",
      "429abba01aaeeb8b"
    ],
    "x": 555,
    "y": 320,
    "wires": []
  },
  {
    "id": "79f821210e0e01cb",
    "type": "link out",
    "z": "ae626b44288d11ba",
    "name": "Summer by time  SaSo",
    "mode": "link",
    "links": [
      "129141dba03c7835",
      "9427770f29cc9026",
      "0080c7729b0beddc"
    ],
    "x": 555,
    "y": 420,
    "wires": []
  },
  {
    "id": "39e3248f2c471a5e",
    "type": "link out",
    "z": "ae626b44288d11ba",
    "name": "Winter by Sun",
    "mode": "link",
    "links": [
      "778f190727d203dd",
      "196097089159ddf0",
      "4d695d24649283f7"
    ],
    "x": 555,
    "y": 520,
    "wires": []
  },
  {
    "id": "50421f69ae03f68d",
    "type": "bigtimer",
    "z": "ae626b44288d11ba",
    "outtopic": "",
    "outpayload1": "open",
    "outpayload2": "close",
    "name": "Sonnenauf-/Untergang",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "5003",
    "endtime": "5001",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": "0",
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 320,
    "y": 120,
    "wires": [
      [
        "616be9700cf6c3f6"
      ],
      [],
      []
    ]
  },
  {
    "id": "616be9700cf6c3f6",
    "type": "link out",
    "z": "ae626b44288d11ba",
    "name": "Sonnenauf-/Untergang",
    "mode": "link",
    "links": [
      "2d782bdda9b303d5",
      "440f5992e0bbcd12",
      "5db5a5675becffca",
      "a6fe366ae242dce0"
    ],
    "x": 555,
    "y": 120,
    "wires": []
  },
  {
    "id": "1383a45809382d13",
    "type": "tesla-api",
    "z": "d2d6601a.7125f8",
    "teslaConfig": "ef714325c8d7b5bc",
    "command": "setChargingAmps",
    "name": "Model Y",
    "vehicleID": "929640415206229",
    "autoWakeUp": true,
    "x": 1800,
    "y": 580,
    "wires": [
      [
        "2a463196f81aef9e"
      ]
    ]
  },
  {
    "id": "bb4d3ecba3b96e24",
    "type": "inject",
    "z": "d2d6601a.7125f8",
    "name": "Senec Energiedaten",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "120",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Senec",
    "payload": "{\"ENERGY\":{}}",
    "payloadType": "json",
    "x": 200,
    "y": 520,
    "wires": [
      [
        "27fde135883aa950"
      ]
    ]
  },
  {
    "id": "27fde135883aa950",
    "type": "http request",
    "z": "d2d6601a.7125f8",
    "d": true,
    "name": "Senec Energiedaten lesen",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "body",
    "url": "http://192.168.178.121/lala.cgi",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 470,
    "y": 540,
    "wires": [
      [
        "f8cd9decd4a3ca4b"
      ]
    ]
  },
  {
    "id": "3f9beabcbd4b96a5",
    "type": "function",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Ladestrom berechnen",
    "func": "msg.calc = (msg.payload.Senec.ENERGY.GUI_INVERTER_POWER - \n    msg.payload.Senec.ENERGY.GUI_HOUSE_POW + \n    (msg.payload.Tesla.charge_state.charger_power * 1000))\nif(msg.calc >= 400.0){\n    msg.surplus = msg.calc;\n} else {\n    msg.surplus = 0.0\n}\nmsg.Surplus = msg.payload.Surplus\nmsg.amps = Math.min(Math.floor(Math.max(msg.surplus / 400.0, 0.0)), 16);\nreturn msg;\n//    msg.payload.Senec.ENERGY.GUI_BAT_DATA_POWER + \n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1020,
    "y": 600,
    "wires": [
      [
        "9965ea3a15e20416",
        "9f05e3d14c82c5b1",
        "2449fbf3eff38d59"
      ]
    ]
  },
  {
    "id": "5707ee6a5214a001",
    "type": "ui_gauge",
    "z": "d2d6601a.7125f8",
    "name": "Ladestrom",
    "group": "a0f70a7a9ba44c37",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Ladestrom",
    "label": "Amper",
    "format": "{{msg.commandArgs.amps}}",
    "min": 0,
    "max": "16",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 1810,
    "y": 520,
    "wires": []
  },
  {
    "id": "9965ea3a15e20416",
    "type": "debug",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Ladestrom berechnet",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1340,
    "y": 340,
    "wires": []
  },
  {
    "id": "41d29932802c9c3a",
    "type": "tesla-api",
    "z": "d2d6601a.7125f8",
    "teslaConfig": "ef714325c8d7b5bc",
    "command": "vehicleData",
    "name": "Model Y",
    "vehicleID": "929640415206229",
    "autoWakeUp": true,
    "x": 400,
    "y": 660,
    "wires": [
      [
        "1b43cffed2adf1bc",
        "d8f45ad7b3fb1273"
      ]
    ]
  },
  {
    "id": "7c1ff958301b0bb1",
    "type": "inject",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Daten",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Tesla",
    "payload": "{\"ENERGY\":{}}",
    "payloadType": "json",
    "x": 170,
    "y": 660,
    "wires": [
      [
        "41d29932802c9c3a"
      ]
    ]
  },
  {
    "id": "1b43cffed2adf1bc",
    "type": "debug",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Daten",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 760,
    "wires": []
  },
  {
    "id": "799cb830162d2859",
    "type": "tesla-api",
    "z": "d2d6601a.7125f8",
    "teslaConfig": "ef714325c8d7b5bc",
    "command": "startCharge",
    "name": "Model Y",
    "vehicleID": "929640415206229",
    "autoWakeUp": true,
    "x": 1800,
    "y": 680,
    "wires": [
      [
        "f7a9b629177e0b0c"
      ]
    ]
  },
  {
    "id": "f7a9b629177e0b0c",
    "type": "debug",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Lade Kommando",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "command",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 2060,
    "y": 680,
    "wires": []
  },
  {
    "id": "1953e7103d5637d3",
    "type": "ui_text",
    "z": "d2d6601a.7125f8",
    "group": "a0f70a7a9ba44c37",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Lade Kommando",
    "label": "Kommando",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1730,
    "y": 800,
    "wires": []
  },
  {
    "id": "d8f45ad7b3fb1273",
    "type": "join",
    "z": "d2d6601a.7125f8",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": true,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "num",
    "reduceFixup": "",
    "x": 790,
    "y": 600,
    "wires": [
      [
        "3f9beabcbd4b96a5",
        "fe144fdea9cd0f32"
      ]
    ]
  },
  {
    "id": "2a463196f81aef9e",
    "type": "debug",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Ladestrom",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 2040,
    "y": 580,
    "wires": []
  },
  {
    "id": "ce15171a38d88d50",
    "type": "ui_switch",
    "z": "d2d6601a.7125f8",
    "name": "Überschußladen",
    "label": "Überschußladen",
    "tooltip": "",
    "group": "a0f70a7a9ba44c37",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "decouple": "false",
    "topic": "Surplus",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 360,
    "y": 600,
    "wires": [
      [
        "d8f45ad7b3fb1273"
      ]
    ]
  },
  {
    "id": "9db045da0b6dc5df",
    "type": "debug",
    "z": "d2d6601a.7125f8",
    "name": "Senec Daten",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 500,
    "wires": []
  },
  {
    "id": "f8cd9decd4a3ca4b",
    "type": "function",
    "z": "d2d6601a.7125f8",
    "name": "Senec Daten decodieren",
    "func": "msg.payload.ENERGY.GUI_BAT_DATA_COLLECTED = variablesDecode(msg.payload.ENERGY.GUI_BAT_DATA_COLLECTED);\nmsg.payload.ENERGY.GUI_BAT_DATA_CURRENT = variablesDecode(msg.payload.ENERGY.GUI_BAT_DATA_CURRENT);\nmsg.payload.ENERGY.GUI_BAT_DATA_FUEL_CHARGE = variablesDecode(msg.payload.ENERGY.GUI_BAT_DATA_FUEL_CHARGE);\nmsg.payload.ENERGY.GUI_BAT_DATA_MAX_CELL_VOLTAGE = variablesDecode(msg.payload.ENERGY.GUI_BAT_DATA_MAX_CELL_VOLTAGE);\nmsg.payload.ENERGY.GUI_BAT_DATA_MIN_CELL_VOLTAGE = variablesDecode(msg.payload.ENERGY.GUI_BAT_DATA_MIN_CELL_VOLTAGE);\nmsg.payload.ENERGY.GUI_BAT_DATA_POWER = variablesDecode(msg.payload.ENERGY.GUI_BAT_DATA_POWER);\nmsg.payload.ENERGY.GUI_BAT_DATA_VOLTAGE = variablesDecode(msg.payload.ENERGY.GUI_BAT_DATA_VOLTAGE);\nmsg.payload.ENERGY.GUI_BOOSTING_INFO = variablesDecode(msg.payload.ENERGY.GUI_BOOSTING_INFO);\nmsg.payload.ENERGY.GUI_CAP_TEST_STATE = variablesDecode(msg.payload.ENERGY.GUI_CAP_TEST_STATE);\nmsg.payload.ENERGY.GUI_CHARGING_INFO = variablesDecode(msg.payload.ENERGY.GUI_CHARGING_INFO);\nmsg.payload.ENERGY.GUI_GRID_POW = variablesDecode(msg.payload.ENERGY.GUI_GRID_POW);\nmsg.payload.ENERGY.GUI_HOUSE_POW = variablesDecode(msg.payload.ENERGY.GUI_HOUSE_POW);\nmsg.payload.ENERGY.GUI_INIT_CHARGE_START = variablesDecode(msg.payload.ENERGY.GUI_INIT_CHARGE_START);\nmsg.payload.ENERGY.GUI_INIT_CHARGE_STOP = variablesDecode(msg.payload.ENERGY.GUI_INIT_CHARGE_STOP);\nmsg.payload.ENERGY.GUI_INVERTER_POWER = variablesDecode(msg.payload.ENERGY.GUI_INVERTER_POWER);\nreturn msg;\n\n\nfunction variablesDecode(data)\n            {\n                var tmp = data.split('_');\n                var value = tmp[1];\n                switch (tmp[0])\n                {\n                    case 'fl':\n                        tmp[1] = \"0x\" + tmp[1];\n                        value = _hex2float(tmp[1]);\n                        value = Math.round(value * 100) / 100;\n                        break;\n                    case 'u8':\n                        //alert(\"u8\");\n                        value = _hex2dec(value);\n                        if (value < 10)\n                        {\n                            value = \"0\" + value;\n                        }\n                        break;\n                    case 'u1':\n                        //alert(\"u1\");\n                        value = _hex2dec(value);\n                        if (value < 10)\n                        {\n                            value = \"0\" + value;\n                        }\n                        break;\n                    case 'u3':\n                        value = _hex2dec(value);\n                        break;\n                    case 'u6':\n                        value = _hex2dec(value);\n                        break;\n                    case 'i1':\n                        value = parseInt(value, 16);\n\n                        if(!isNaN(value)) {\n                            if (value < 10) {\n                                value = \"0\" + value;\n                            }\n                            if ((value & 0x8000) > 0) {\n                                value = value - 0x10000;\n                            }\n                        }\n                        else  {\n                            value = NaN;\n                        }\n                        break;\n                    case 'i3':\n                        value = parseInt(value, 16);\n                        if(!isNaN(value))\n                        {\n                            if (value < 10) {\n                                value = \"0\" + value;\n                            }\n\n                            if ((Math.abs(value & 0x80000000)) > 0) {\n                                value = value - 0x100000000;\n                            }\n                        }\n                        else  {\n                            value = NaN;\n                        }\n\n                        break;\n                    case 'i8':\n                        value = parseInt(value, 16);\n                        if (value < 10) {\n                            value = \"0\" + value;\n                        }\n                        if ((value & 0x80) > 0) {\n                            value = value - 0x100;\n                        }\n                        break;\n                    case 'ch':\n                        //alert(\"ch\");\n                        break;\n                    case 'st':\n                        //alert(\"st\");\n                        break;\n                    case 'er':\n                        console.log(\"error: \" + data);\n                        break;\n                    default:\n                        console.log(\"error: unknown variable type: \" + data);\n                        break;\n                }\n\n                return value;\n\n                function _hex2float(num) {\n                    var sign = (num & 0x80000000) ? -1 : 1;\n                    var exponent = ((num >> 23) & 0xff) - 127;\n                    var mantissa = ((num & 0x7fffff) + 0x800000).toString(2); // binary\n                    var float = 0;\n                    // Convert to float\n                    for (var i=0; i<mantissa.length; i+=1)\n                    {\n                        float += parseInt(mantissa[i])? Math.pow(2,exponent):0;\n                        exponent--;\n                    }\n                    return sign * float;\n                }\n\n                function _hex2dec(num)\n                {\n                    return parseInt(num, 16);\n                }\n            }\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 750,
    "y": 520,
    "wires": [
      [
        "d8f45ad7b3fb1273",
        "9db045da0b6dc5df"
      ]
    ]
  },
  {
    "id": "fe144fdea9cd0f32",
    "type": "debug",
    "z": "d2d6601a.7125f8",
    "name": "Joined Daten",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 740,
    "wires": []
  },
  {
    "id": "13690b5763ffd28f",
    "type": "rbe",
    "z": "d2d6601a.7125f8",
    "name": "Ladekommando",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "command",
    "topi": "command",
    "x": 1600,
    "y": 680,
    "wires": [
      [
        "799cb830162d2859"
      ]
    ]
  },
  {
    "id": "9f05e3d14c82c5b1",
    "type": "function",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Zuhause? Angeschlossen? => Ladestrom + Kommando berechnen",
    "func": "//start charging if at home, connected and sufficent amps\nnewMsg = null;\nif(msg.payload.Tesla.drive_state.latitude >= 51.01 &&\n    msg.payload.Tesla.drive_state.latitude <= 51.04 &&\n    msg.payload.Tesla.drive_state.longitude >= 6.9 &&\n    msg.payload.Tesla.drive_state.longitude <= 7.1 &&\n    msg.payload.Tesla.charge_state.charge_port_latch == \"Engaged\" &&\n    msg.payload.Surplus == true){\n        if(msg.amps  >= 2 && \n        msg.payload.Tesla.charge_state.charging_state == \"Stopped\"){\n            msg.command = \"startCharge\"\n        } else if (msg.amps  < 2 && \n        msg.payload.Tesla.charge_state.charging_state == \"Charging\"){\n            msg.command = \"stopCharge\" \n            msg.amps = 0\n        }\n    newMsg = { \"commandArgs\": {\"amps\": msg.amps},\n                \"command\": msg.command };\n}\n\nreturn newMsg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1180,
    "y": 680,
    "wires": [
      [
        "13690b5763ffd28f",
        "1383a45809382d13",
        "5707ee6a5214a001",
        "1953e7103d5637d3",
        "f5770aeb5783b0fb"
      ]
    ]
  },
  {
    "id": "2449fbf3eff38d59",
    "type": "ui_gauge",
    "z": "d2d6601a.7125f8",
    "name": "Ladestrom berechnet",
    "group": "a0f70a7a9ba44c37",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Ladestrom berechnet",
    "label": "Amper",
    "format": "{{msg.amps}}",
    "min": 0,
    "max": "16",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 1360,
    "y": 540,
    "wires": []
  },
  {
    "id": "f5770aeb5783b0fb",
    "type": "debug",
    "z": "d2d6601a.7125f8",
    "name": "Tesla Amps ",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1550,
    "y": 880,
    "wires": []
  },
  {
    "id": "c7db1ff1.1f09e",
    "type": "mqtt out",
    "z": "de4d1b6a.332a58",
    "name": "Aussenbeleuchtung Eingangstür",
    "topic": "shellies/shelly1-E098068CC9EB/relay/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 650,
    "y": 140,
    "wires": []
  },
  {
    "id": "46ee1dcc.6f9b8c",
    "type": "bigtimer",
    "z": "de4d1b6a.332a58",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "off",
    "name": "Sonne",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "5001",
    "endtime": "5003",
    "starttime2": "1320",
    "endtime2": "450",
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 410,
    "y": 140,
    "wires": [
      [
        "c7db1ff1.1f09e"
      ],
      [],
      []
    ]
  },
  {
    "id": "7787e91c.535ed",
    "type": "mqtt in",
    "z": "de4d1b6a.332a58",
    "name": "Aussenbeleuchtung Eingangstür Status",
    "topic": "shellies/shelly1-E098068CC9EB/relay/0",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 230,
    "y": 300,
    "wires": [
      [
        "4918e1d7.0c64c8",
        "dc73bc7f.6a344"
      ]
    ]
  },
  {
    "id": "4918e1d7.0c64c8",
    "type": "debug",
    "z": "de4d1b6a.332a58",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 490,
    "y": 360,
    "wires": []
  },
  {
    "id": "4f9da0d5.33734",
    "type": "ui_switch",
    "z": "de4d1b6a.332a58",
    "name": "",
    "label": "Aussenbeleuchtung Eingangstür Status",
    "tooltip": "",
    "group": "da4fb912.ba8c",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 940,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "dc73bc7f.6a344",
    "type": "change",
    "z": "de4d1b6a.332a58",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "on",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 580,
    "y": 300,
    "wires": [
      [
        "4f9da0d5.33734"
      ]
    ]
  },
  {
    "id": "57b33e7b.a816b8",
    "type": "bigtimer",
    "z": "de4d1b6a.332a58",
    "outtopic": "",
    "outpayload1": "off",
    "outpayload2": "auto",
    "name": "Zeiteinschränkung",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "1350",
    "endtime": "420",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": false,
    "thu": true,
    "fri": true,
    "sat": false,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 230,
    "y": 140,
    "wires": [
      [
        "46ee1dcc.6f9b8c"
      ],
      [],
      []
    ]
  },
  {
    "id": "1b2a6dd3.de25ba",
    "type": "mqtt out",
    "z": "82ccc5f3.1036e",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-109F0B/roller/0/command/pos",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "3a49b7e8.7e1e",
    "x": 630,
    "y": 60,
    "wires": []
  },
  {
    "id": "4fdf0442.5d02b4",
    "type": "mqtt out",
    "z": "82ccc5f3.1036e",
    "name": "Rolladen 2",
    "topic": "shellies/shellyswitch25-1099F3/roller/0/command/pos",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "3a49b7e8.7e1e",
    "x": 630,
    "y": 160,
    "wires": []
  },
  {
    "id": "39a9f53.2f4920a",
    "type": "mqtt in",
    "z": "82ccc5f3.1036e",
    "name": "Rolladen 2 Position",
    "topic": "shellies/shellyswitch25-1099F3/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 210,
    "y": 360,
    "wires": [
      [
        "c8c44d1f.9ef2f",
        "fb051373.93ade"
      ]
    ]
  },
  {
    "id": "6f152495.da2f44",
    "type": "mqtt in",
    "z": "82ccc5f3.1036e",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-109F0B/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 205,
    "y": 302,
    "wires": [
      [
        "213ad35a.52f88c",
        "c86b9852.76c59"
      ]
    ]
  },
  {
    "id": "c8c44d1f.9ef2f",
    "type": "ui_gauge",
    "z": "82ccc5f3.1036e",
    "name": "",
    "group": "b45416e0.1bf54",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 2 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 823,
    "y": 361,
    "wires": []
  },
  {
    "id": "213ad35a.52f88c",
    "type": "ui_gauge",
    "z": "82ccc5f3.1036e",
    "name": "",
    "group": "b45416e0.1bf54",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 818,
    "y": 303,
    "wires": []
  },
  {
    "id": "c86b9852.76c59",
    "type": "debug",
    "z": "82ccc5f3.1036e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 409,
    "y": 337,
    "wires": []
  },
  {
    "id": "fb051373.93ade",
    "type": "debug",
    "z": "82ccc5f3.1036e",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 409,
    "y": 397,
    "wires": []
  },
  {
    "id": "a2c40ffe.a54af8",
    "type": "mqtt in",
    "z": "82ccc5f3.1036e",
    "name": "receive message from topic sensor/12627934/temperature",
    "topic": "sensor/12627934/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 290,
    "y": 500,
    "wires": [
      [
        "f03d37f0.c45a48"
      ]
    ]
  },
  {
    "id": "f03d37f0.c45a48",
    "type": "ui_chart",
    "z": "82ccc5f3.1036e",
    "name": "",
    "group": "b45416e0.1bf54",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Temperatur",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 790,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "52aefd73.516a44",
    "type": "ui_chart",
    "z": "82ccc5f3.1036e",
    "name": "",
    "group": "b45416e0.1bf54",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Luftfeuchte ",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 790,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "4c2ff288.1945ac",
    "type": "mqtt in",
    "z": "82ccc5f3.1036e",
    "name": "receive message from topic sensor/12627934/humidity",
    "topic": "sensor/12627934/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 280,
    "y": 580,
    "wires": [
      [
        "52aefd73.516a44"
      ]
    ]
  },
  {
    "id": "3558dd37.df1852",
    "type": "ui_chart",
    "z": "82ccc5f3.1036e",
    "name": "",
    "group": "b45416e0.1bf54",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "Luftdruck",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 780,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "2e76f0bc.e7e42",
    "type": "mqtt in",
    "z": "82ccc5f3.1036e",
    "name": "receive message from topic sensor/12627934/pressure",
    "topic": "sensor/12627934/pressure",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 280,
    "y": 660,
    "wires": [
      [
        "3558dd37.df1852"
      ]
    ]
  },
  {
    "id": "775529c489c0a960",
    "type": "link in",
    "z": "82ccc5f3.1036e",
    "name": "",
    "links": [
      "7cf7a891d18b32f0"
    ],
    "x": 305,
    "y": 100,
    "wires": [
      [
        "1b2a6dd3.de25ba",
        "4fdf0442.5d02b4"
      ]
    ]
  },
  {
    "id": "cb4a64bb.3cfbb",
    "type": "mqtt in",
    "z": "90da45d1.4bcca",
    "name": "Rolladen 2 Position",
    "topic": "shellies/shellyswitch25-1099CC/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 351,
    "y": 423,
    "wires": [
      [
        "f742c641.675328",
        "383dd9de.d8cbb6"
      ]
    ]
  },
  {
    "id": "5a24f40c.17186c",
    "type": "mqtt out",
    "z": "90da45d1.4bcca",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-10A277/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 940,
    "y": 121,
    "wires": []
  },
  {
    "id": "6fbc6099.3dccb8",
    "type": "mqtt in",
    "z": "90da45d1.4bcca",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-10A277/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 346,
    "y": 365,
    "wires": [
      [
        "82e5d910.2a5f58",
        "4c5e3066.dbdcd8"
      ]
    ]
  },
  {
    "id": "e1301a5.7806168",
    "type": "mqtt out",
    "z": "90da45d1.4bcca",
    "name": "Rolladen 2",
    "topic": "shellies/shellyswitch25-1099CC/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 940,
    "y": 204,
    "wires": []
  },
  {
    "id": "4d2ecf33.a6765",
    "type": "delay",
    "z": "90da45d1.4bcca",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 720,
    "y": 160,
    "wires": [
      [
        "5a24f40c.17186c"
      ]
    ]
  },
  {
    "id": "cbdb109b.9cc2b",
    "type": "delay",
    "z": "90da45d1.4bcca",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 715,
    "y": 202,
    "wires": [
      [
        "e1301a5.7806168"
      ]
    ]
  },
  {
    "id": "f742c641.675328",
    "type": "ui_gauge",
    "z": "90da45d1.4bcca",
    "name": "",
    "group": "bafb8bcf.a78da8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 2 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 964,
    "y": 424,
    "wires": []
  },
  {
    "id": "82e5d910.2a5f58",
    "type": "ui_gauge",
    "z": "90da45d1.4bcca",
    "name": "",
    "group": "bafb8bcf.a78da8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 959,
    "y": 366,
    "wires": []
  },
  {
    "id": "4c5e3066.dbdcd8",
    "type": "debug",
    "z": "90da45d1.4bcca",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 550,
    "y": 400,
    "wires": []
  },
  {
    "id": "383dd9de.d8cbb6",
    "type": "debug",
    "z": "90da45d1.4bcca",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 550,
    "y": 460,
    "wires": []
  },
  {
    "id": "2d782bdda9b303d5",
    "type": "link in",
    "z": "90da45d1.4bcca",
    "name": "",
    "links": [
      "616be9700cf6c3f6"
    ],
    "x": 335,
    "y": 180,
    "wires": [
      [
        "4d2ecf33.a6765",
        "cbdb109b.9cc2b"
      ]
    ]
  },
  {
    "id": "cf403e88.1ea23",
    "type": "mqtt in",
    "z": "9c2232ef.d006f8",
    "name": "Rolladen 2 Position",
    "topic": "shellies/shellyswitch25-F37585/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 210,
    "y": 560,
    "wires": [
      [
        "af9fdeb6.955e48",
        "ac850dd.d05797"
      ]
    ]
  },
  {
    "id": "54b3a5ad.1fc394",
    "type": "mqtt out",
    "z": "9c2232ef.d006f8",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-10986E/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 610,
    "y": 80,
    "wires": []
  },
  {
    "id": "d9428f5b.362ca8",
    "type": "mqtt in",
    "z": "9c2232ef.d006f8",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-10986E/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 216,
    "y": 463,
    "wires": [
      [
        "3204914.297d86e",
        "c7a8e566.c0fbd"
      ]
    ]
  },
  {
    "id": "1e92b868.a7a058",
    "type": "mqtt out",
    "z": "9c2232ef.d006f8",
    "name": "Rolladen 2",
    "topic": "shellies/shellyswitch25-F37585/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 610,
    "y": 140,
    "wires": []
  },
  {
    "id": "6b4e5f5d.984008",
    "type": "delay",
    "z": "9c2232ef.d006f8",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 380,
    "y": 80,
    "wires": [
      [
        "54b3a5ad.1fc394"
      ]
    ]
  },
  {
    "id": "af9fdeb6.955e48",
    "type": "ui_gauge",
    "z": "9c2232ef.d006f8",
    "name": "",
    "group": "27a1325f.4f4c3e",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 2 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 823,
    "y": 561,
    "wires": []
  },
  {
    "id": "3204914.297d86e",
    "type": "ui_gauge",
    "z": "9c2232ef.d006f8",
    "name": "",
    "group": "27a1325f.4f4c3e",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 829,
    "y": 464,
    "wires": []
  },
  {
    "id": "ac850dd.d05797",
    "type": "debug",
    "z": "9c2232ef.d006f8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 450,
    "y": 620,
    "wires": []
  },
  {
    "id": "c7a8e566.c0fbd",
    "type": "debug",
    "z": "9c2232ef.d006f8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 450,
    "y": 500,
    "wires": []
  },
  {
    "id": "440f5992e0bbcd12",
    "type": "link in",
    "z": "9c2232ef.d006f8",
    "name": "",
    "links": [
      "616be9700cf6c3f6"
    ],
    "x": 145,
    "y": 100,
    "wires": [
      [
        "6b4e5f5d.984008",
        "1e92b868.a7a058"
      ]
    ]
  },
  {
    "id": "b6a3be71.15679",
    "type": "mqtt out",
    "z": "625022e7.583d14",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-109DA4/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 788,
    "y": 145,
    "wires": []
  },
  {
    "id": "e8152813.b0d8f",
    "type": "mqtt in",
    "z": "625022e7.583d14",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-109DA4/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 208,
    "y": 322,
    "wires": [
      [
        "815122df.15ab38",
        "8e0de952.daae6"
      ]
    ]
  },
  {
    "id": "733fe03.4e82fa",
    "type": "delay",
    "z": "625022e7.583d14",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 539,
    "y": 148,
    "wires": [
      [
        "b6a3be71.15679"
      ]
    ]
  },
  {
    "id": "815122df.15ab38",
    "type": "ui_gauge",
    "z": "625022e7.583d14",
    "name": "",
    "group": "e57ae48b.a972f",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 821,
    "y": 323,
    "wires": []
  },
  {
    "id": "8e0de952.daae6",
    "type": "debug",
    "z": "625022e7.583d14",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 380,
    "wires": []
  },
  {
    "id": "a6fe366ae242dce0",
    "type": "link in",
    "z": "625022e7.583d14",
    "name": "",
    "links": [
      "616be9700cf6c3f6"
    ],
    "x": 245,
    "y": 140,
    "wires": [
      [
        "733fe03.4e82fa"
      ]
    ]
  },
  {
    "id": "e73b726c.9ec25",
    "type": "mqtt out",
    "z": "e2a52957.38abe8",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-1097D5/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 813,
    "y": 196,
    "wires": []
  },
  {
    "id": "e94f00c9.fed858",
    "type": "mqtt in",
    "z": "e2a52957.38abe8",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-1097D5/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 233,
    "y": 373,
    "wires": [
      [
        "6c84a385.184d44",
        "37bafb61.f6f02c"
      ]
    ]
  },
  {
    "id": "8a4201d.65ba88",
    "type": "delay",
    "z": "e2a52957.38abe8",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 567,
    "y": 200,
    "wires": [
      [
        "e73b726c.9ec25"
      ]
    ]
  },
  {
    "id": "6c84a385.184d44",
    "type": "ui_gauge",
    "z": "e2a52957.38abe8",
    "name": "",
    "group": "992eb7fb.cd151",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 846,
    "y": 374,
    "wires": []
  },
  {
    "id": "37bafb61.f6f02c",
    "type": "debug",
    "z": "e2a52957.38abe8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 420,
    "wires": []
  },
  {
    "id": "d61f5739.308ca8",
    "type": "mqtt in",
    "z": "e2a52957.38abe8",
    "name": "receive message from topic sensor/11460426/temperature ",
    "topic": "sensor/11460426/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 290,
    "y": 560,
    "wires": [
      [
        "5d61adda.5e40cc"
      ]
    ]
  },
  {
    "id": "5d61adda.5e40cc",
    "type": "ui_chart",
    "z": "e2a52957.38abe8",
    "name": "",
    "group": "992eb7fb.cd151",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Temperatur ",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 750,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "45ba3817.6f9c08",
    "type": "mqtt in",
    "z": "e2a52957.38abe8",
    "name": "receive message from topic sensor/11460426/humidity",
    "topic": "sensor/11460426/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 280,
    "y": 620,
    "wires": [
      [
        "76878350.c58894"
      ]
    ]
  },
  {
    "id": "76878350.c58894",
    "type": "ui_chart",
    "z": "e2a52957.38abe8",
    "name": "",
    "group": "992eb7fb.cd151",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Humidity ",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 740,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "5db5a5675becffca",
    "type": "link in",
    "z": "e2a52957.38abe8",
    "name": "",
    "links": [
      "616be9700cf6c3f6"
    ],
    "x": 265,
    "y": 200,
    "wires": [
      [
        "8a4201d.65ba88"
      ]
    ]
  },
  {
    "id": "80f45f2b.168028",
    "type": "mqtt in",
    "z": "be27de26.cf9ac8",
    "name": "Rolladen 2 Position",
    "topic": "shellies/shellyswitch25-10A1DE/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 210,
    "y": 420,
    "wires": [
      [
        "60b0efb9.a782b",
        "182ac99b.3d04d6"
      ]
    ]
  },
  {
    "id": "ab1efab7.45e0e8",
    "type": "mqtt out",
    "z": "be27de26.cf9ac8",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-F3FDC4/roller/0/command",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "3a49b7e8.7e1e",
    "x": 1010,
    "y": 100,
    "wires": []
  },
  {
    "id": "46cc3c43.9732cc",
    "type": "mqtt in",
    "z": "be27de26.cf9ac8",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-F3FDC4/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 216,
    "y": 360,
    "wires": [
      [
        "d9d4f594.0af5a",
        "1074bfc7.ab7ee8"
      ]
    ]
  },
  {
    "id": "375152af.86094e",
    "type": "mqtt out",
    "z": "be27de26.cf9ac8",
    "name": "Rolladen 2",
    "topic": "shellies/shellyswitch25-10A1DE/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 1010,
    "y": 183,
    "wires": []
  },
  {
    "id": "5e76e3dc.1e54dc",
    "type": "mqtt out",
    "z": "be27de26.cf9ac8",
    "name": "Rolladen 3",
    "topic": "shellies/shellyswitch25-1097AB/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 1013,
    "y": 254,
    "wires": []
  },
  {
    "id": "905e88f4.d4ced8",
    "type": "mqtt in",
    "z": "be27de26.cf9ac8",
    "name": "Rolladen 3 Position",
    "topic": "shellies/shellyswitch25-1097AB/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 223,
    "y": 474,
    "wires": [
      [
        "67aa1f6b.9f85",
        "637fb9fb.ef5d98"
      ]
    ]
  },
  {
    "id": "427bce6f.b5e97",
    "type": "delay",
    "z": "be27de26.cf9ac8",
    "name": "",
    "pauseType": "delay",
    "timeout": "11",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 784,
    "y": 174,
    "wires": [
      [
        "375152af.86094e"
      ]
    ]
  },
  {
    "id": "cea6a262.13ddc8",
    "type": "delay",
    "z": "be27de26.cf9ac8",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 787,
    "y": 113,
    "wires": [
      [
        "ab1efab7.45e0e8"
      ]
    ]
  },
  {
    "id": "60b0efb9.a782b",
    "type": "ui_gauge",
    "z": "be27de26.cf9ac8",
    "name": "",
    "group": "3a600476.d87c94",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 2 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 834,
    "y": 419,
    "wires": []
  },
  {
    "id": "d9d4f594.0af5a",
    "type": "ui_gauge",
    "z": "be27de26.cf9ac8",
    "name": "",
    "group": "3a600476.d87c94",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 830,
    "y": 360,
    "wires": []
  },
  {
    "id": "67aa1f6b.9f85",
    "type": "ui_gauge",
    "z": "be27de26.cf9ac8",
    "name": "",
    "group": "3a600476.d87c94",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 3 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 836,
    "y": 475,
    "wires": []
  },
  {
    "id": "1074bfc7.ab7ee8",
    "type": "debug",
    "z": "be27de26.cf9ac8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 380,
    "wires": []
  },
  {
    "id": "182ac99b.3d04d6",
    "type": "debug",
    "z": "be27de26.cf9ac8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 440,
    "wires": []
  },
  {
    "id": "637fb9fb.ef5d98",
    "type": "debug",
    "z": "be27de26.cf9ac8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 430,
    "y": 500,
    "wires": []
  },
  {
    "id": "4aa809b95ed1c17a",
    "type": "link in",
    "z": "be27de26.cf9ac8",
    "name": "",
    "links": [
      "d5c7c3159f10ad7d"
    ],
    "x": 405,
    "y": 120,
    "wires": [
      [
        "cea6a262.13ddc8",
        "427bce6f.b5e97",
        "5e76e3dc.1e54dc"
      ]
    ]
  },
  {
    "id": "129141dba03c7835",
    "type": "link in",
    "z": "be27de26.cf9ac8",
    "name": "",
    "links": [
      "79f821210e0e01cb"
    ],
    "x": 405,
    "y": 180,
    "wires": [
      [
        "cea6a262.13ddc8",
        "427bce6f.b5e97",
        "5e76e3dc.1e54dc"
      ]
    ]
  },
  {
    "id": "778f190727d203dd",
    "type": "link in",
    "z": "be27de26.cf9ac8",
    "name": "",
    "links": [
      "39e3248f2c471a5e"
    ],
    "x": 405,
    "y": 240,
    "wires": [
      [
        "cea6a262.13ddc8",
        "427bce6f.b5e97",
        "5e76e3dc.1e54dc"
      ]
    ]
  },
  {
    "id": "4a0970aa.63f74",
    "type": "mqtt out",
    "z": "afab19e2.ac2b08",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-10A070/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 910,
    "y": 140,
    "wires": []
  },
  {
    "id": "67ce5867.5b6fe",
    "type": "mqtt in",
    "z": "afab19e2.ac2b08",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-10A070/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 184,
    "y": 338,
    "wires": [
      [
        "3a1de234.904db6",
        "fb695b4.5d1ffa8"
      ]
    ]
  },
  {
    "id": "69528795.9ad67",
    "type": "delay",
    "z": "afab19e2.ac2b08",
    "name": "",
    "pauseType": "delay",
    "timeout": "7",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 720,
    "y": 140,
    "wires": [
      [
        "4a0970aa.63f74"
      ]
    ]
  },
  {
    "id": "3a1de234.904db6",
    "type": "ui_gauge",
    "z": "afab19e2.ac2b08",
    "name": "",
    "group": "4d82b7b6.cead7",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 797,
    "y": 339,
    "wires": []
  },
  {
    "id": "fb695b4.5d1ffa8",
    "type": "debug",
    "z": "afab19e2.ac2b08",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 390,
    "y": 380,
    "wires": []
  },
  {
    "id": "72f313ba.e61d6c",
    "type": "mqtt in",
    "z": "afab19e2.ac2b08",
    "name": "receive message from topic sensor/12662631/temperature",
    "topic": "sensor/12662631/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 310,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "bc3f977f.5371d",
    "type": "mqtt in",
    "z": "afab19e2.ac2b08",
    "name": "receive message from topic sensor/12662631/humidity",
    "topic": "sensor/12662631/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 300,
    "y": 580,
    "wires": [
      []
    ]
  },
  {
    "id": "487df511.597064",
    "type": "mqtt in",
    "z": "afab19e2.ac2b08",
    "name": "receive message from topic sensor/12662631/pressure",
    "topic": "sensor/12662631/pressure",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 300,
    "y": 660,
    "wires": [
      []
    ]
  },
  {
    "id": "9852e2da.2b095",
    "type": "bigtimer",
    "z": "afab19e2.ac2b08",
    "outtopic": "",
    "outpayload1": "open",
    "outpayload2": "close",
    "name": "Summer by time",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "420",
    "endtime": "1320",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": 0,
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": "1000",
    "sun": false,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": false,
    "jan": false,
    "feb": false,
    "mar": false,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": false,
    "oct": false,
    "nov": false,
    "dec": false,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 200,
    "y": 80,
    "wires": [
      [
        "69528795.9ad67"
      ],
      [],
      []
    ]
  },
  {
    "id": "cc8bdfc2.016d3",
    "type": "bigtimer",
    "z": "afab19e2.ac2b08",
    "outtopic": "",
    "outpayload1": "open",
    "outpayload2": "close",
    "name": "Summer by time  SaSo",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "540",
    "endtime": "1320",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": 0,
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": "1000",
    "sun": true,
    "mon": false,
    "tue": false,
    "wed": false,
    "thu": true,
    "fri": false,
    "sat": true,
    "jan": false,
    "feb": false,
    "mar": false,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": false,
    "oct": false,
    "nov": false,
    "dec": false,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 220,
    "y": 160,
    "wires": [
      [
        "69528795.9ad67"
      ],
      [],
      []
    ]
  },
  {
    "id": "be30e3b9.cbde38",
    "type": "bigtimer",
    "z": "afab19e2.ac2b08",
    "outtopic": "",
    "outpayload1": "open",
    "outpayload2": "close",
    "name": "Winter by Sun",
    "comment": "",
    "lat": "51.049067",
    "lon": "7.108115",
    "starttime": "5003",
    "endtime": "5001",
    "starttime2": "0",
    "endtime2": "0",
    "startoff": "0",
    "endoff": "0",
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": "1000",
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": false,
    "may": false,
    "jun": false,
    "jul": false,
    "aug": false,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": "",
    "month7": "",
    "day8": "",
    "month8": "",
    "day9": "",
    "month9": "",
    "day10": "",
    "month10": "",
    "day11": "",
    "month11": "",
    "day12": "",
    "month12": "",
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xd1": "0",
    "xw1": 0,
    "xd2": "0",
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 200,
    "y": 240,
    "wires": [
      [
        "69528795.9ad67"
      ],
      [],
      []
    ]
  },
  {
    "id": "8c1af838.be3a28",
    "type": "mqtt out",
    "z": "7b205da4.9b358c",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-109899/roller/0/command",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "3a49b7e8.7e1e",
    "x": 950,
    "y": 240,
    "wires": []
  },
  {
    "id": "d9749a02.301f88",
    "type": "mqtt in",
    "z": "7b205da4.9b358c",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-109899/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 169,
    "y": 432,
    "wires": [
      [
        "494b7f73.55ed7",
        "8b49e20.cc38c2"
      ]
    ]
  },
  {
    "id": "e7c653.fe1d51b",
    "type": "delay",
    "z": "7b205da4.9b358c",
    "name": "",
    "pauseType": "delay",
    "timeout": "7",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 740,
    "y": 240,
    "wires": [
      [
        "8c1af838.be3a28"
      ]
    ]
  },
  {
    "id": "494b7f73.55ed7",
    "type": "ui_gauge",
    "z": "7b205da4.9b358c",
    "name": "",
    "group": "a242a2b2.dd42a",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Rolladen 1 Position",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 782,
    "y": 433,
    "wires": []
  },
  {
    "id": "8b49e20.cc38c2",
    "type": "debug",
    "z": "7b205da4.9b358c",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 350,
    "y": 480,
    "wires": []
  },
  {
    "id": "1938358640d0a6d2",
    "type": "link in",
    "z": "7b205da4.9b358c",
    "name": "",
    "links": [
      "d5c7c3159f10ad7d"
    ],
    "x": 435,
    "y": 180,
    "wires": [
      [
        "e7c653.fe1d51b"
      ]
    ]
  },
  {
    "id": "9427770f29cc9026",
    "type": "link in",
    "z": "7b205da4.9b358c",
    "name": "",
    "links": [
      "79f821210e0e01cb"
    ],
    "x": 435,
    "y": 240,
    "wires": [
      [
        "e7c653.fe1d51b"
      ]
    ]
  },
  {
    "id": "196097089159ddf0",
    "type": "link in",
    "z": "7b205da4.9b358c",
    "name": "",
    "links": [
      "39e3248f2c471a5e"
    ],
    "x": 435,
    "y": 300,
    "wires": [
      [
        "e7c653.fe1d51b"
      ]
    ]
  },
  {
    "id": "d61abbaa359606c1",
    "type": "mqtt out",
    "z": "3ad7f6dda0ad7b96",
    "name": "Rolladen 1",
    "topic": "shellies/shellyswitch25-10A070/roller/0/command",
    "qos": "0",
    "retain": "",
    "broker": "3a49b7e8.7e1e",
    "x": 930,
    "y": 180,
    "wires": []
  },
  {
    "id": "a9ea266fadf09073",
    "type": "mqtt in",
    "z": "3ad7f6dda0ad7b96",
    "name": "Rolladen 1 Position",
    "topic": "shellies/shellyswitch25-10A070/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 184,
    "y": 338,
    "wires": [
      [
        "e2e882790ea30e26"
      ]
    ]
  },
  {
    "id": "5ec31f5635374035",
    "type": "delay",
    "z": "3ad7f6dda0ad7b96",
    "name": "",
    "pauseType": "delay",
    "timeout": "7",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "outputs": 1,
    "x": 692,
    "y": 183,
    "wires": [
      [
        "d61abbaa359606c1"
      ]
    ]
  },
  {
    "id": "e2e882790ea30e26",
    "type": "debug",
    "z": "3ad7f6dda0ad7b96",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 390,
    "y": 380,
    "wires": []
  },
  {
    "id": "429abba01aaeeb8b",
    "type": "link in",
    "z": "3ad7f6dda0ad7b96",
    "name": "",
    "links": [
      "d5c7c3159f10ad7d"
    ],
    "x": 451,
    "y": 119,
    "wires": [
      [
        "5ec31f5635374035"
      ]
    ]
  },
  {
    "id": "0080c7729b0beddc",
    "type": "link in",
    "z": "3ad7f6dda0ad7b96",
    "name": "",
    "links": [
      "79f821210e0e01cb"
    ],
    "x": 451,
    "y": 179,
    "wires": [
      [
        "5ec31f5635374035"
      ]
    ]
  },
  {
    "id": "4d695d24649283f7",
    "type": "link in",
    "z": "3ad7f6dda0ad7b96",
    "name": "",
    "links": [
      "39e3248f2c471a5e"
    ],
    "x": 451,
    "y": 239,
    "wires": [
      [
        "5ec31f5635374035"
      ]
    ]
  },
  {
    "id": "ff3a768a.80b41",
    "type": "inject",
    "z": "dd45f535.32c558",
    "name": "every_minute",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "string"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 140,
    "wires": [
      [
        "e6a2de16.53ec68"
      ]
    ]
  },
  {
    "id": "e6a2de16.53ec68",
    "type": "function",
    "z": "dd45f535.32c558",
    "name": "mac list",
    "func": "macList = { \"Guido\":\"06:9A:45:C8:D1:6E\",\n            \"Jan\":\"32:24:DF:B8:C4:E1\",\n            \"Till\":\"9C:FC:01:2E:13:D3\",\n            \"Sandra\":\"66:CE:2E:9C:7A:CC\"};\n\nmsg.payload = macList;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 140,
    "wires": [
      [
        "90a96f11.01349"
      ]
    ]
  },
  {
    "id": "ae36d70b.151438",
    "type": "debug",
    "z": "dd45f535.32c558",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 300,
    "wires": []
  },
  {
    "id": "bb4e77df.c613f",
    "type": "function",
    "z": "dd45f535.32c558",
    "name": "frame data",
    "func": "newMsg = { \"payload\": {\"NewMACAddress\": msg.payload},\n           \"hostname\": msg.parts.key };\n\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 140,
    "wires": [
      [
        "d0a34167.924fd8"
      ]
    ]
  },
  {
    "id": "90a96f11.01349",
    "type": "split",
    "z": "dd45f535.32c558",
    "name": "",
    "splt": "",
    "spltType": "str",
    "arraySplt": "1",
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 510,
    "y": 140,
    "wires": [
      [
        "bb4e77df.c613f"
      ]
    ]
  },
  {
    "id": "c4d1ea27.fb624",
    "type": "function",
    "z": "dd45f535.32c558",
    "name": "format output for mqtt",
    "func": "msg = { \"payload\": msg.payload.NewActive,\n        \"topic\": \"human/presence/\" + msg.hostname };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 240,
    "wires": [
      [
        "ab5aaff6.8e7688",
        "ae36d70b.151438"
      ]
    ]
  },
  {
    "id": "ab5aaff6.8e7688",
    "type": "mqtt out",
    "z": "dd45f535.32c558",
    "name": "present",
    "topic": "",
    "qos": "0",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "3a49b7e8.7e1e",
    "x": 820,
    "y": 220,
    "wires": []
  },
  {
    "id": "f8a0f728.8e2838",
    "type": "mqtt in",
    "z": "dd45f535.32c558",
    "name": "Sandra@home",
    "topic": "human/presence/Sandra",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 160,
    "y": 420,
    "wires": [
      [
        "5c08e2ed.b326ac"
      ]
    ]
  },
  {
    "id": "4bb6cf06.3047e",
    "type": "mqtt in",
    "z": "dd45f535.32c558",
    "name": "Till@home",
    "topic": "human/presence/Till",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 140,
    "y": 540,
    "wires": [
      [
        "ab8ecc0b.7f42f"
      ]
    ]
  },
  {
    "id": "a50aaf3e.8bbcb",
    "type": "mqtt in",
    "z": "dd45f535.32c558",
    "name": "Jan@home",
    "topic": "human/presence/Jan",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 140,
    "y": 500,
    "wires": [
      [
        "bafe9a7a.6b4b58"
      ]
    ]
  },
  {
    "id": "db1ce882.47d2f",
    "type": "mqtt in",
    "z": "dd45f535.32c558",
    "name": "Guido@home",
    "topic": "human/presence/Guido",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 150,
    "y": 460,
    "wires": [
      [
        "6c92fe40.f91888"
      ]
    ]
  },
  {
    "id": "5c08e2ed.b326ac",
    "type": "ui_slider",
    "z": "dd45f535.32c558",
    "name": "",
    "label": "Sandra@Home",
    "tooltip": "",
    "group": "bf5d8422.827f38",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "human/presence/Sandra",
    "min": 0,
    "max": "1",
    "step": 1,
    "x": 420,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "6c92fe40.f91888",
    "type": "ui_slider",
    "z": "dd45f535.32c558",
    "name": "",
    "label": "Guido@Home",
    "tooltip": "",
    "group": "bf5d8422.827f38",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "human/presence/Guido",
    "min": 0,
    "max": "1",
    "step": 1,
    "x": 420,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "bafe9a7a.6b4b58",
    "type": "ui_slider",
    "z": "dd45f535.32c558",
    "name": "",
    "label": "Jan@Home",
    "tooltip": "",
    "group": "bf5d8422.827f38",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "human/presence/Jan",
    "min": 0,
    "max": "1",
    "step": 1,
    "x": 410,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "ab8ecc0b.7f42f",
    "type": "ui_slider",
    "z": "dd45f535.32c558",
    "name": "",
    "label": "Till@Home",
    "tooltip": "",
    "group": "bf5d8422.827f38",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "human/presence/Till",
    "min": 0,
    "max": "1",
    "step": 1,
    "x": 410,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "d0a34167.924fd8",
    "type": "fritzbox-in",
    "z": "dd45f535.32c558",
    "device": "9f7d2c8a.64cf98",
    "name": "ask fritz.box",
    "service": "urn:dslforum-org:service:Hosts:1",
    "action": "GetSpecificHostEntry",
    "arguments": "{\"NewMACAddress\":\"value\"}",
    "x": 390,
    "y": 240,
    "wires": [
      [
        "c4d1ea27.fb624"
      ]
    ]
  },
  {
    "id": "4c457643.5b5d68",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Arbeitszimmer Rolladen 2 Temperatur",
    "topic": "shellies/shellyswitch25-F37585/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 230,
    "y": 200,
    "wires": [
      [
        "2f74209a.7cc6d8"
      ]
    ]
  },
  {
    "id": "af9c83d1.913fc",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Arbeitszimmer Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-10986E/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 230,
    "y": 100,
    "wires": [
      [
        "442ee57e.aa04dc"
      ]
    ]
  },
  {
    "id": "442ee57e.aa04dc",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Arbeitszimmer Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 610,
    "y": 100,
    "wires": []
  },
  {
    "id": "2f74209a.7cc6d8",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Arbeitszimmer Rolladen 2 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 630,
    "y": 200,
    "wires": []
  },
  {
    "id": "a677f4e9.1c52e",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Küche Rolladen 2 Temperatur",
    "topic": "shellies/shellyswitch25-1099F3/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 200,
    "y": 360,
    "wires": [
      [
        "46390767.ee6d28"
      ]
    ]
  },
  {
    "id": "f3bccf12.e345a8",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Küche Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-109F0B/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 195,
    "y": 302,
    "wires": [
      [
        "c1f1b6d6.708f68"
      ]
    ]
  },
  {
    "id": "c1f1b6d6.708f68",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Küche Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 610,
    "y": 300,
    "wires": []
  },
  {
    "id": "46390767.ee6d28",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Küche Rolladen 2 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 610,
    "y": 360,
    "wires": []
  },
  {
    "id": "f634d3d4.b69be",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Wohnzimmer Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-1099CC/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 220,
    "y": 540,
    "wires": [
      [
        "9105cc55.b6989"
      ]
    ]
  },
  {
    "id": "e90cf841.f58cd",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Wohnzimmer Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-10A277/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 215,
    "y": 482,
    "wires": [
      [
        "d94ab56a.050f68"
      ]
    ]
  },
  {
    "id": "d94ab56a.050f68",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Wohnzimmer Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 630,
    "y": 480,
    "wires": []
  },
  {
    "id": "9105cc55.b6989",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Wohnzimmer Rolladen 2 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 630,
    "y": 540,
    "wires": []
  },
  {
    "id": "63142a08.5face4",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Badezimmer 1.OG Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-1097D5/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 640,
    "wires": [
      [
        "6a2e0a2e.e4b9d4"
      ]
    ]
  },
  {
    "id": "6a2e0a2e.e4b9d4",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Badezimmer 1. OG Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 650,
    "y": 640,
    "wires": []
  },
  {
    "id": "42e81fb.c638ce",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Badezimmer Gäste Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-109DA4/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 720,
    "wires": [
      [
        "7294bd52.d86cfc"
      ]
    ]
  },
  {
    "id": "7294bd52.d86cfc",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Badezimmer Gäste Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 650,
    "y": 720,
    "wires": []
  },
  {
    "id": "6cf220da.2590a8",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Jan Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-10A070/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 190,
    "y": 820,
    "wires": [
      [
        "517df597.5ba39c"
      ]
    ]
  },
  {
    "id": "517df597.5ba39c",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Jan Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 620,
    "y": 820,
    "wires": []
  },
  {
    "id": "36c8ca9c.d35246",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Till Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-109899/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 190,
    "y": 920,
    "wires": [
      [
        "a9484f41.b739e"
      ]
    ]
  },
  {
    "id": "a9484f41.b739e",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Till Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 610,
    "y": 920,
    "wires": []
  },
  {
    "id": "c1ff0240.4fc9b8",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Schlafzimmer Rolladen 2 Temperatur",
    "topic": "shellies/shellyswitch25-10A1DE/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 220,
    "y": 1060,
    "wires": [
      [
        "3e82eb57.706e14"
      ]
    ]
  },
  {
    "id": "785e02fc.f18354",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Schlafzimmer Rolladen 1 Temperatur",
    "topic": "shellies/shellyswitch25-F3FDC4/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 226,
    "y": 1000,
    "wires": [
      [
        "9880deae.9a77e"
      ]
    ]
  },
  {
    "id": "932998b1.ca7ee",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Schlafzimmer Rolladen 3 Temperatur",
    "topic": "shellies/shellyswitch25-1097AB/temperature",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 233,
    "y": 1114,
    "wires": [
      [
        "cee96e47.405318"
      ]
    ]
  },
  {
    "id": "9880deae.9a77e",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Schlafzimmer Rolladen 1 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 630,
    "y": 1000,
    "wires": []
  },
  {
    "id": "3e82eb57.706e14",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Schlafzimmer Rolladen 2 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 630,
    "y": 1060,
    "wires": []
  },
  {
    "id": "cee96e47.405318",
    "type": "ui_gauge",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "group": "c31dffb.9104f",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Schlafzimmer Rolladen 3 Temperatur",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 630,
    "y": 1120,
    "wires": []
  },
  {
    "id": "281ca273.bbb6ae",
    "type": "mqtt in",
    "z": "cf8cfe5f.0edb9",
    "name": "Alle Shellies",
    "topic": "shellies/+/roller/0/pos",
    "qos": "0",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 170,
    "y": 1240,
    "wires": [
      [
        "bb42e26c.da82d"
      ]
    ]
  },
  {
    "id": "bb42e26c.da82d",
    "type": "debug",
    "z": "cf8cfe5f.0edb9",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 430,
    "y": 1240,
    "wires": []
  },
  {
    "id": "8346662b.80e45",
    "type": "debug",
    "z": "373575c7.38e3da",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 548.670166015625,
    "y": 235.7550048828125,
    "wires": []
  },
  {
    "id": "91d43a06.809d7",
    "type": "exec",
    "z": "373575c7.38e3da",
    "command": "sudo raspiBackup.sh",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": true,
    "name": "Backup",
    "x": 328.94195556640625,
    "y": 163.61361694335938,
    "wires": [
      [
        "8346662b.80e45",
        "56cb241e.05936c"
      ],
      [
        "8346662b.80e45",
        "56cb241e.05936c"
      ],
      [
        "8346662b.80e45",
        "56cb241e.05936c"
      ]
    ]
  },
  {
    "id": "25f3d074.c94b48",
    "type": "inject",
    "z": "373575c7.38e3da",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 148.66665649414062,
    "y": 253.83334350585938,
    "wires": [
      [
        "91d43a06.809d7"
      ]
    ]
  },
  {
    "id": "56cb241e.05936c",
    "type": "e-mail",
    "z": "373575c7.38e3da",
    "server": "smtp.mail.yahoo.com",
    "port": "465",
    "secure": true,
    "tls": false,
    "name": "guido_berning@yahoo.de",
    "dname": "An Guido",
    "x": 547.625244140625,
    "y": 136.923828125,
    "wires": []
  },
  {
    "id": "1a6e5966.0ced97",
    "type": "mqtt in",
    "z": "b4eb0c1f.ba1b08",
    "name": "receive message from topic sensor/11460421/temperature",
    "topic": "sensor/11460421/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 250,
    "y": 80,
    "wires": [
      [
        "60aeb838.3ef058"
      ]
    ]
  },
  {
    "id": "60aeb838.3ef058",
    "type": "ui_chart",
    "z": "b4eb0c1f.ba1b08",
    "name": "",
    "group": "ea559203.bd396",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 750,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "3432fcbc.ef0844",
    "type": "ui_chart",
    "z": "b4eb0c1f.ba1b08",
    "name": "",
    "group": "ea559203.bd396",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Luftfeuchte ",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 750,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "a58c7d6e.888f18",
    "type": "mqtt in",
    "z": "b4eb0c1f.ba1b08",
    "name": "receive message from topic sensor/11460421/humidity",
    "topic": "sensor/11460421/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 160,
    "wires": [
      [
        "3432fcbc.ef0844"
      ]
    ]
  },
  {
    "id": "6ee1ad21.3dcb84",
    "type": "ui_chart",
    "z": "b4eb0c1f.ba1b08",
    "name": "",
    "group": "ea559203.bd396",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Luftdruck",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 740,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "83d02dab.966de8",
    "type": "mqtt in",
    "z": "b4eb0c1f.ba1b08",
    "name": "receive message from topic sensor/11460421/pressure",
    "topic": "sensor/11460421/pressure",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 240,
    "wires": [
      [
        "6ee1ad21.3dcb84"
      ]
    ]
  },
  {
    "id": "2d030c69.3c45ac",
    "type": "mqtt in",
    "z": "8402a360.a168c",
    "name": "receive message from topic sensor/11460429/temperature ",
    "topic": "sensor/11460429/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 250,
    "y": 120,
    "wires": [
      [
        "e85b5d60.44b3b8"
      ]
    ]
  },
  {
    "id": "e85b5d60.44b3b8",
    "type": "ui_chart",
    "z": "8402a360.a168c",
    "name": "",
    "group": "e0930b6f.ef776",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur ",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 670,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "d0d20a73.ce9eb8",
    "type": "mqtt in",
    "z": "8402a360.a168c",
    "name": "receive message from topic sensor/11460429/humidity ",
    "topic": "sensor/11460429/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 240,
    "wires": [
      [
        "f557552f.f8a298"
      ]
    ]
  },
  {
    "id": "f557552f.f8a298",
    "type": "ui_chart",
    "z": "8402a360.a168c",
    "name": "",
    "group": "e0930b6f.ef776",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Luftfeuchte",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 670,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "e1d1dea8.91c468",
    "type": "mqtt in",
    "z": "8402a360.a168c",
    "name": "receive message from topic sensor/12665137/temperature ",
    "topic": "sensor/12665137/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 250,
    "y": 340,
    "wires": [
      [
        "b918b210.624948"
      ]
    ]
  },
  {
    "id": "b918b210.624948",
    "type": "ui_chart",
    "z": "8402a360.a168c",
    "name": "",
    "group": "e0930b6f.ef776",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur Kühltruhe",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 700,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "f9876c74.5051d8",
    "type": "mqtt in",
    "z": "8402a360.a168c",
    "name": "receive message from topic sensor/12665137/humidity ",
    "topic": "sensor/12665137/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 460,
    "wires": [
      [
        "3611871c.83f348"
      ]
    ]
  },
  {
    "id": "3611871c.83f348",
    "type": "ui_chart",
    "z": "8402a360.a168c",
    "name": "",
    "group": "e0930b6f.ef776",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Luftfeuchte Kühltruhe",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 700,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "1b06fd23.68708b",
    "type": "ui_chart",
    "z": "8402a360.a168c",
    "name": "",
    "group": "e0930b6f.ef776",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Luftdruck Kühltruhe",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 700,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "bef1a156.c991c8",
    "type": "mqtt in",
    "z": "8402a360.a168c",
    "name": "receive message from topic sensor/12665137/pressure",
    "topic": "sensor/12665137/pressure",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 560,
    "wires": [
      [
        "1b06fd23.68708b"
      ]
    ]
  },
  {
    "id": "f4ec64c0.0d055",
    "type": "ui_chart",
    "z": "a139dd9c.4949a8",
    "name": "",
    "group": "8061dfc2.f1047",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur Filamentbox ABS",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 820,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "ecd40388.a4f49",
    "type": "mqtt in",
    "z": "a139dd9c.4949a8",
    "name": "receive message from topic sensor/5343998/temperature ",
    "topic": "sensor/5343998/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 330,
    "y": 120,
    "wires": [
      [
        "f4ec64c0.0d055"
      ]
    ]
  },
  {
    "id": "de0cf02.fe9441",
    "type": "ui_chart",
    "z": "a139dd9c.4949a8",
    "name": "",
    "group": "8061dfc2.f1047",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Luftfeuchte Filamentbox ABS",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 820,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "fd03b653.36271",
    "type": "mqtt in",
    "z": "a139dd9c.4949a8",
    "name": "receive message from topic sensor/5343998/humidity",
    "topic": "sensor/5343998/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 320,
    "y": 200,
    "wires": [
      [
        "de0cf02.fe9441"
      ]
    ]
  },
  {
    "id": "a48158de.4bff2",
    "type": "ui_chart",
    "z": "a139dd9c.4949a8",
    "name": "",
    "group": "8061dfc2.f1047",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur Filamentbox1 PETG",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 830,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "f3813578.40ba68",
    "type": "mqtt in",
    "z": "a139dd9c.4949a8",
    "name": "receive message from topic sensor/204886/temperature ",
    "topic": "sensor/204886/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 330,
    "y": 300,
    "wires": [
      [
        "a48158de.4bff2"
      ]
    ]
  },
  {
    "id": "dc881ee2.5271c8",
    "type": "ui_chart",
    "z": "a139dd9c.4949a8",
    "name": "",
    "group": "8061dfc2.f1047",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Luftfeuchte Filamentbox1 PETG",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 830,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "ad91c2e7.b76a78",
    "type": "mqtt in",
    "z": "a139dd9c.4949a8",
    "name": "receive message from topic sensor/204886/humidity",
    "topic": "sensor/204886/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 310,
    "y": 380,
    "wires": [
      [
        "dc881ee2.5271c8"
      ]
    ]
  },
  {
    "id": "406b5cb6.8dd0fc",
    "type": "ui_chart",
    "z": "a139dd9c.4949a8",
    "name": "",
    "group": "8061dfc2.f1047",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur Filamentbox2 PETG",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 830,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "1ee141cd.853116",
    "type": "mqtt in",
    "z": "a139dd9c.4949a8",
    "name": "receive message from topic sensor/3745420/temperature ",
    "topic": "sensor/3745420/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 330,
    "y": 460,
    "wires": [
      [
        "406b5cb6.8dd0fc"
      ]
    ]
  },
  {
    "id": "39d1420f.1b8366",
    "type": "ui_chart",
    "z": "a139dd9c.4949a8",
    "name": "",
    "group": "8061dfc2.f1047",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Luftfeuchte Filamentbox2 PETG",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 830,
    "y": 540,
    "wires": [
      []
    ]
  },
  {
    "id": "c3079db1.5ba8a",
    "type": "mqtt in",
    "z": "a139dd9c.4949a8",
    "name": "receive message from topic sensor/3745420/humidity",
    "topic": "sensor/3745420/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 320,
    "y": 540,
    "wires": [
      [
        "39d1420f.1b8366"
      ]
    ]
  },
  {
    "id": "d42ed148.a8788",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/5343998/vcc Filamentbox-ABS",
    "topic": "sensor/5343998/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 230,
    "y": 120,
    "wires": [
      [
        "eafe4f44.f6f8f"
      ]
    ]
  },
  {
    "id": "eafe4f44.f6f8f",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Keller-Filamentbox-ABS",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 690,
    "y": 120,
    "wires": []
  },
  {
    "id": "79eff51f.0a710c",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/11460421/vcc Garage",
    "topic": "sensor/11460421/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 200,
    "y": 300,
    "wires": [
      [
        "e905cf1b.c6e8c"
      ]
    ]
  },
  {
    "id": "e905cf1b.c6e8c",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Garage",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 640,
    "y": 300,
    "wires": []
  },
  {
    "id": "ff4255e4.5bc7d8",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/11460429/vcc Speisekammer",
    "topic": "sensor/11460429/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 230,
    "y": 380,
    "wires": [
      [
        "8a7683b2.9a6f8"
      ]
    ]
  },
  {
    "id": "8a7683b2.9a6f8",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speisekammer",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 660,
    "y": 380,
    "wires": []
  },
  {
    "id": "99486795.f593a8",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/11460426/vcc Badezimmmer 1. OG",
    "topic": "sensor/11460426/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 250,
    "y": 460,
    "wires": [
      [
        "26af8d69.55b4b2"
      ]
    ]
  },
  {
    "id": "26af8d69.55b4b2",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Badezimmmer 1. OG",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 680,
    "y": 460,
    "wires": []
  },
  {
    "id": "93d4bd5c.014a98",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/204886/vcc Filamentbox1 PETG",
    "topic": "sensor/204886/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 230,
    "y": 180,
    "wires": [
      [
        "ea881dff.ee7a18"
      ]
    ]
  },
  {
    "id": "ea881dff.ee7a18",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 5,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Keller-Filamentbox1-PETG",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 700,
    "y": 180,
    "wires": []
  },
  {
    "id": "f7cc51e1.d0d92",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/11459240/vcc Dachboden",
    "topic": "sensor/11459240/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 220,
    "y": 540,
    "wires": [
      [
        "e272687.2029918"
      ]
    ]
  },
  {
    "id": "e272687.2029918",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Dachboden",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 650,
    "y": 540,
    "wires": []
  },
  {
    "id": "27c62986.fdde16",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/5343018/vcc Heizungsraum",
    "topic": "sensor/5343018/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 220,
    "y": 620,
    "wires": [
      [
        "3229f08a.ee89c8"
      ]
    ]
  },
  {
    "id": "3229f08a.ee89c8",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Heizungsraum",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 660,
    "y": 620,
    "wires": []
  },
  {
    "id": "3d13be0.930fc42",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/3745420/vcc Filamentbox2 PETG",
    "topic": "sensor/3745420/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 240,
    "y": 720,
    "wires": [
      [
        "d553a054.ab3f28"
      ]
    ]
  },
  {
    "id": "d553a054.ab3f28",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Keller-Filamentbox2-PETG",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 700,
    "y": 720,
    "wires": []
  },
  {
    "id": "90d9ca10.6f67c8",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/12665137/vcc Kühltruhe ",
    "topic": "sensor/12665137/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 190,
    "y": 800,
    "wires": [
      [
        "eb4922e5.d92eb"
      ]
    ]
  },
  {
    "id": "eb4922e5.d92eb",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Speisekammer-Kühltruhe",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 690,
    "y": 800,
    "wires": []
  },
  {
    "id": "7d16ec3c.97a6dc",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/12627934/vcc Kühlschrank ",
    "topic": "sensor/12627934/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 200,
    "y": 880,
    "wires": [
      [
        "3db457dc.8f8a98"
      ]
    ]
  },
  {
    "id": "3db457dc.8f8a98",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Kühlschrank",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 650,
    "y": 880,
    "wires": []
  },
  {
    "id": "752c091c.3f1f38",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/12662631/vcc Jans Zimmer ",
    "topic": "sensor/12662631/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 200,
    "y": 960,
    "wires": [
      [
        "eacc427e.5ccd18"
      ]
    ]
  },
  {
    "id": "eacc427e.5ccd18",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Jans-Zimmer",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 650,
    "y": 960,
    "wires": []
  },
  {
    "id": "e2650e76.606678",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/5343008/vcc ",
    "topic": "sensor/5343008/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 150,
    "y": 1040,
    "wires": [
      [
        "7907740e.650c2c"
      ]
    ]
  },
  {
    "id": "7907740e.650c2c",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "ESP-01-5343008",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 670,
    "y": 1040,
    "wires": []
  },
  {
    "id": "1ebe2605.f03dfa",
    "type": "mqtt in",
    "z": "ed60f545.3915d8",
    "name": "sensor/8029332/vcc ",
    "topic": "sensor/8029332/vcc",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 150,
    "y": 1100,
    "wires": [
      [
        "6f0b618b.fd67d"
      ]
    ]
  },
  {
    "id": "6f0b618b.fd67d",
    "type": "ui_gauge",
    "z": "ed60f545.3915d8",
    "name": "",
    "group": "df5a149e.d04cc8",
    "order": 6,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "ESP-01-8029332",
    "label": "V",
    "format": "{{value}}",
    "min": "2",
    "max": "5",
    "colors": [
      "#b20706",
      "#e6e600",
      "#29ba3e"
    ],
    "seg1": "3",
    "seg2": "3.2",
    "x": 670,
    "y": 1100,
    "wires": []
  },
  {
    "id": "9844e351.f70be8",
    "type": "mqtt in",
    "z": "3ce8dafe.b73d36",
    "name": "receive message from topic sensor/#",
    "topic": "sensor/#",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 203.5,
    "y": 176,
    "wires": [
      [
        "73694305.a0cbe4"
      ]
    ]
  },
  {
    "id": "73694305.a0cbe4",
    "type": "debug",
    "z": "3ce8dafe.b73d36",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 490,
    "y": 180,
    "wires": []
  },
  {
    "id": "8e2c9f63.d2176",
    "type": "inject",
    "z": "3ce8dafe.b73d36",
    "name": "Test message to send",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "publish",
    "payloadType": "str",
    "x": 183.16665649414062,
    "y": 75,
    "wires": [
      [
        "2b5b2ede.86263a"
      ]
    ]
  },
  {
    "id": "2b5b2ede.86263a",
    "type": "mqtt out",
    "z": "3ce8dafe.b73d36",
    "name": "public topic to MQTT server Mosquitto",
    "topic": "config/",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "3a49b7e8.7e1e",
    "x": 596.1666259765625,
    "y": 76.41665649414062,
    "wires": []
  },
  {
    "id": "816b8d10.2f32b8",
    "type": "mqtt in",
    "z": "3ce8dafe.b73d36",
    "name": "receive message from topic sensor/12627934/#",
    "topic": "sensor/12627934/#",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 220,
    "y": 300,
    "wires": [
      [
        "23bd1ded.f02da2"
      ]
    ]
  },
  {
    "id": "23bd1ded.f02da2",
    "type": "debug",
    "z": "3ce8dafe.b73d36",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 510,
    "y": 300,
    "wires": []
  },
  {
    "id": "2376eb09.9e156c",
    "type": "mqtt in",
    "z": "f396be30.384bb8",
    "name": "sensor/11459240/temperature Dachboden",
    "topic": "sensor/11459240/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 300,
    "y": 140,
    "wires": [
      [
        "4813a1be.3c93"
      ]
    ]
  },
  {
    "id": "4813a1be.3c93",
    "type": "ui_chart",
    "z": "f396be30.384bb8",
    "name": "",
    "group": "1efc2ffd.73b798",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 670,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "924f06c2.e266c",
    "type": "mqtt in",
    "z": "36bcc038.c7d64",
    "name": "sensor/5343018/temperature Heizungsraum",
    "topic": "sensor/5343018/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "3a49b7e8.7e1e",
    "inputs": 0,
    "x": 330,
    "y": 140,
    "wires": [
      [
        "bc1f7ae3.f9272"
      ]
    ]
  },
  {
    "id": "bc1f7ae3.f9272",
    "type": "ui_chart",
    "z": "36bcc038.c7d64",
    "name": "",
    "group": "ed4947f4.045568",
    "order": 0,
    "width": 0,
    "height": 0,
    "label": "Temperatur",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "100",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 750,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "hermes-safe-import-note",
    "type": "comment",
    "z": "ae626b44288d11ba",
    "name": "HERMES: Sicher importiert - alle Tabs deaktiviert",
    "info": "Dieser alte Flow wurde als sichere Migrationsvorlage erzeugt. Alle Tabs sind deaktiviert. Bitte einzelne Tabs erst nach Prüfung der Topics und Zugangsdaten aktivieren.",
    "x": 260,
    "y": 40,
    "wires": []
  }
]